<?php
// Get Groupd Id and group name of user
$groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
$groupName = Mage::getModel('customer/group')->load($groupId)->getCode();

$isDefaultSubscribed = Mage::helper('crconnect')->getSubscriber(Mage::getSingleton('customer/session')->getCustomer()->getEmail(), 0);
$isCustomSubscribed = Mage::helper('crconnect')->getSubscriber(Mage::getSingleton('customer/session')->getCustomer()->getEmail(), $groupId);
?>
<div class="box-account box-info">
    <div class="box-head">
        <h2><?php echo $this->__('Newsletters') ?></h2>
        <a href="<?php echo $this->getUrl('newsletter/manage') ?>"><?php echo $this->__('Edit') ?></a>
    </div>
    <div class="col-1">
        <div class="box">
            <div class="box-content">
                <p>
                    <?php if( $isDefaultSubscribed ): ?>
                        <?php echo Mage::helper('crconnect')->__("You are currently subscribed to 'General Subscription'.") ?>
                    <?php endif; ?>
                    <?php if( $isCustomSubscribed && $groupId > 1): ?>
                        <?php echo Mage::helper('crconnect')->__("You are currently subscribed to '%s Subscription'.", $groupName) ?>
                    <?php endif; ?>
                    <?php if( !$isDefaultSubscribed && !$isCustomSubscribed ): ?>
                        <?php echo $this->__('You are currently not subscribed to any newsletter.') ?>
                    <?php endif; ?>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="box-account box-info">
    <div class="box-head">
        <h2><?php echo $this->__('Contact Information') ?></h2>
        <a href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('Edit') ?></a>
    </div>
    <div class="col-1">
        <div class="box">
            <div class="box-content">
                <p>
                    <?php echo $this->escapeHtml($this->getCustomer()->getName()) ?><br />
                    <?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?><br />
                    <a href="<?php echo $this->getChangePasswordUrl() ?>"><?php echo $this->__('Change Password') ?></a>
                </p>
            </div>
        </div>
    </div>
</div>