<?php if($this->getItems()->getSize()): ?>
    <div class="block block-replacement">
        <h3><?php echo $this->__('Replacement Items') ?></h3>
        <ul class="replacement-products-list" id="block-replacement">
            <?php foreach ($this->getItems() as $_item): ?>
            <li>
                <a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a>
            </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>