<div class="page-title title-buttons" id="title">
    <div style="display: none;" id="loading-mask">
        <?php echo Mage::helper('snowflake_multiplewishlist')->__('Please wait...') ?>
    </div>

    <h1><?php echo Mage::helper('snowflake_multiplewishlist')->__('My Wishlists') ?></h1>
    <form id="wishlist-view" onsubmit="ajaxChecking(document.getElementById('wlname').value, event);">
        <input type="text" class="input" id="wlname" style="width:40%;" name="wlname" onfocus="InputHelperIn(this, <?php echo Mage::helper('snowflake_multiplewishlist')->__('Enter a new wishlist name here') ?> );" onblur="InputHelperOut(this, <?php echo Mage::helper('snowflake_multiplewishlist')->__('Enter a new wishlist name here') ?> );" />
        <button type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Create Wishlist') ?>" onclick="ajaxChecking(document.getElementById('wlname').value);" class="button">
            <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Create Wishlist') ?></span></span>
        </button>
    </form>
</div>

<script type="text/javascript">
    InputHelperOut($('wlname'), '<?php echo Mage::helper('snowflake_multiplewishlist')->__('Enter a new wishlist name here'); ?>');

    function ajaxChecking(data, e) {
        if (e) {
            Event.stop(e);
        }
        InputHelperDefault($('wlname'), '<?php echo Mage::helper('snowflake_multiplewishlist')->__('Enter a new wishlist name here'); ?>');
        if (data != 'Enter a new wishlist name here') {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax/')?>', { method: 'post',
                parameters: {wlname: data},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('fullcontent').update(transport.responseText);
                    initializeTabsSlider();
                },

                onLoading: Element.show('loading-mask')
            });
        }
    }
    function InputHelperIn(obj, text) {
        if (obj.value == text) {
            obj.style.fontStyle = 'normal';
            obj.style.color = '#2f2f2f';
            obj.value = "";
        }
    }
    function InputHelperDefault(obj, text) {
        if (obj.value != '') {
            obj.style.fontStyle = "italic";
            obj.style.color = "#bfc1b8";
            obj.value = text;
        }
    }
    function InputHelperOut(obj, text) {
        if (obj.value == '' || obj.value == text) {
            obj.style.fontStyle = 'italic';
            obj.style.color = '#bfc1b8';
            obj.value = text;
        }
    }
</script>