#multiplewishlist-popup-box {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:15000;
}
#multiplewishlist-popup-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 10000;
}
#multiplewishlist-popup {
    position: fixed;
    width: 500px;
    top: 182.5px;
    left: 50%;
    margin: 0 0 0 -250px;
    background-color: #f8f7f5;
    overflow: auto;
    z-index: 10001;
}
#multiplewishlist-popup-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    background: url(../../../images/multiplewishlist/loader.gif) center center #000000 no-repeat;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 10002;
}

#multiplewishlist-radiostack {
    margin-left: 20px !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
}
#multiplewishlist-popup-buttons {
    width: 100%;
    margin-top: 25px;
    padding: 5px 0;
    text-align: right;
    border-top: 1px solid #aaa;
}
#multiplewishlist-popup-buttons button {
    width: 110px;
    padding: 0;
    margin-right: 10px;
    margin-top: 0;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    overflow: visible;
}
#multiplewishlist-popup-buttons button span {
    padding: 0 8px;
    height: 21px;
    line-height: 21px;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    background: none repeat scroll 0 0 #618499;
}
#multiplewishlist-popup-buttons button span span {
    border: 0 none;
    padding: 0;
}