#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 100;
}
#dialog{
    z-index: 102;
    position: fixed;
    width: 500px;
    overflow: auto;
    background-color: #f8f7f5;
    left: 50%;
    top: 182.5px;
    margin: 0 -250px;
}
#wlname {
    margin-right: 3px;
}

#content {
    padding: 2px 5px 5px;
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #ccc;
}

#title {
    margin: 0 0 2px !important;
}

#wishlist-table tbody tr td textarea {
    display: block;
    height: 109px;
    width: 97%;
}

div.multiplewishlist-bottom-right {
    margin-top: 1px;
    text-align: right;
    width: 100%;
}

.buttons-set button.button {
    float: none !important;
    margin-left: 2px !important;
}
.multiplewishlist button.button,
.multiplewishlist button.button span {
    background-color: #F18200;
    border: none;
}
.multiplewishlist button.button:hover,
.multiplewishlist button.button:hover span {
    background-color: #DE5400;
}
.multiplewishlist button.btn-copy,
.multiplewishlist button.btn-copy span {
    background-color: #618499;
    border: none;
}
.multiplewishlist button.btn-copy:hover,
.multiplewishlist button.btn-copy:hover span {
    background-color: #406a83;
}

.multiplewishlist-bottom button {
    margin-bottom: 5px !important;
}

tr.tr-del {
    background: none repeat scroll 0 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

td.td-del {
    background: none repeat scroll 0 0;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 50%
}

div.multiplewishlist-bottom {
    margin-left: 0 !important;
    text-align: left !important;
    width: 100%;

}

.product-view .box-up-sell .products-grid td {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.product-view .box-up-sell {
    margin: 0;
}

.tab_title {
    display: none;
}

.dialog_content {
    background-color: #f8f7f5 !important;
    color: #112233 !important;
}

#radiostack {
    margin-left: 20px !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

#radiostack .radio {
    display:  block;
}

.top.table_window {
    display: none !important;
}

.top.table_window {
    display: none !important;
}

.dialog {
    height: auto !important;
}

.dialog h4 {
    margin-top: 10px;
    margin-left: 10px;
}

button.selectbutton {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
    overflow: visible;
    padding: 0;
    width: 110px;
}

.selectbutton span {
    padding: 0 8px;
    height: 21px;
    line-height: 21px;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    background: none repeat scroll 0 0 #618499;
}

.selectbutton span span {
    border: 0 none;
    padding: 0;
}

#select {
    width: 100%;
    text-align: right;
    border-top:1px solid #aaa;
    margin-top: 25px;
    padding: 5px 0;
}

#loading-process {
    background: none repeat scroll 0 0 #fff4e9;
    border: 2px solid #f1af73;
    color: #d85909;
    font-size: 1.1em;
    font-weight: bold;
    left: 50%;
    margin-left: -60px;
    padding: 15px 60px;
    position: absolute;
    text-align: center;
    top: 45%;
    z-index: 501;
}

#loading-mask {
    color: #d85909;
    border: 2px solid #f1af73;
    background: url(../../../images/multiplewishlist/ajax-loader-tr.gif) 20px center no-repeat #FFF4E9;
    padding: 20px 20px 20px 65px;
    position: fixed;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 500;
    margin-top: -30px;
    margin-left: -85px;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
    left: 50%;
    top:50%;
}

#central_head {
    margin-left: 10px;
    margin-top: 2px;
    padding-bottom: 3px;
}

#delbutton {
    float: right;
    text-align: right;
    padding-right: 5px;

}

.multiplewishlist button.delete,
.multiplewishlist button.delete span {
    background-color: #ff491d;
    border:none;
}
.multiplewishlist button.delete:hover,
.multiplewishlist button.delete:hover span {
    background-color: #a92000;
}

#select button.selectbutton {
    margin-top:0;
}

.multiplewishlist .button-set-table { width: 100%; margin-top: 5px; }
.multiplewishlist .button-set-table button.button { width: 95%; }

.multiplewishlist-tabs .titles{ position: relative; z-index: 10; margin-bottom: -1px; }
/********************/
.multiplewishlist-tabs .titles .title{ height: 27px; cursor: pointer; margin-right: 3px; }

.multiplewishlist-tabs .titles .title.first{ margin-left: 0; }
.multiplewishlist-tabs .titles .title.last{ margin-right: 0; }
.multiplewishlist-tabs .titles.with-scroll .title.first{ margin-left: 1px; }
.multiplewishlist-tabs .titles.with-scroll .title.last{ margin-right: 1px; }
/********************/
.multiplewishlist-tabs .titles .title span{ display: inline-block; height: 27px; line-height: 27px; background-repeat: repeat-x; }
.multiplewishlist-tabs .titles .title .center{ padding: 0 10px; }
.multiplewishlist-tabs .titles .title .left,
.multiplewishlist-tabs .titles .title .right{ width: 3px; float: none !important; }
/********************/
.multiplewishlist-tabs .titles .titles-holder{ overflow :hidden; white-space: nowrap; height: 27px; }
.multiplewishlist-tabs .titles.with-scroll .titles-holder{ margin: 0 17px; }

/*****CORNERS********/
.multiplewishlist-tabs .titles .title .corner{ display: none; }
/********************/
.multiplewishlist-tabs .titles .scroll{ display: none; cursor: pointer; position: absolute; }
.multiplewishlist-tabs .titles .scroll.right{ right: 0; }
.multiplewishlist-tabs .titles .scroll.left{ left: 0; }
.multiplewishlist-tabs .titles.with-scroll .scroll{ display: block; width: 17px; height: 26px; }
/********************/
.multiplewishlist-tabs .contents{ position: relative; top: -1px; z-index: 0; border: 1px solid; }
.multiplewishlist-tabs .contents2{ margin: 10px; }
.multiplewishlist-tabs .contents .content{ display: none; padding: 0 !important; }
.multiplewishlist-tabs .contents .content.current{ display: inline; }

.product-view .box-up-sell .products-grid td { padding-left: 8px !important; padding-right: 8px !important; }
.product-view .box-up-sell{ margin: 0; }
.tab_title{ display: none; }
.multiplewishlist-tabs { margin-top: 5px; }

.multiplewishlist-tabs .titles .title span{ color: #ccc; }
.multiplewishlist-tabs .titles .title .center{ background-image: url("../../../images/multiplewishlist/tab_title/d.png"); }
.multiplewishlist-tabs .titles .title .left{ background-image: url("../../../images/multiplewishlist/tab_title/dl.png"); }
.multiplewishlist-tabs .titles .title .right{ background-image: url("../../../images/multiplewishlist/tab_title/dr.png"); }

.multiplewishlist-tabs .titles .title:hover span{ color: #eaeaea; }
.multiplewishlist-tabs .titles .title:hover .center{ background-image: url("../../../images/multiplewishlist/tab_title/d_h.png"); }
.multiplewishlist-tabs .titles .title:hover .left{ background-image: url("../../../images/multiplewishlist/tab_title/dl_h.png"); }
.multiplewishlist-tabs .titles .title:hover .right{ background-image: url("../../../images/multiplewishlist/tab_title/dr_h.png"); }

.multiplewishlist-tabs .titles .title.current span{ color: #000; }
.multiplewishlist-tabs .titles .title.current .center{ background-image: url("../../../images/multiplewishlist/tab_title/d_a.png"); }
.multiplewishlist-tabs .titles .title.current .left{ background-image: url("../../../images/multiplewishlist/tab_title/dl_a.png"); }
.multiplewishlist-tabs .titles .title.current .right{ background-image: url("../../../images/multiplewishlist/tab_title/dr_a.png"); }

.multiplewishlist-tabs .contents{ border-color: #ccc; background-color: white; background-repeat: repeat-x; background-image: url("../../../images/multiplewishlist/tab_title/b.png"); }

.multiplewishlist-tabs .titles.with-scroll .scroll._left{ background-image:url("../../../images/multiplewishlist/tab_title/ml.png"); }
.multiplewishlist-tabs .titles.with-scroll .scroll._right{ background-image:url("../../../images/multiplewishlist/tab_title/mr.png"); }

.multiplewishlist-tabs .titles.with-scroll .scroll._left:hover{ background-image:url("../../../images/multiplewishlist/tab_title/ml_h.png"); }
.multiplewishlist-tabs .titles.with-scroll .scroll._right:hover{ background-image:url("../../../images/multiplewishlist/tab_title/mr_h.png"); }


.multiplewishlist-tabs .images-preload .d_h{ background-image: url("../../../images/multiplewishlist/tab_title/d_h.png"); }
.multiplewishlist-tabs .images-preload .dl_h{ background-image: url("../../../images/multiplewishlist/tab_title/dl_h.png"); }
.multiplewishlist-tabs .images-preload .dr_h{ background-image: url("../../../images/multiplewishlist/tab_title/dr_h.png"); }

.multiplewishlist-tabs .images-preload .ml_h{ background-image: url("../../../images/multiplewishlist/tab_title/ml_h.png"); }
.multiplewishlist-tabs .images-preload .mr_h{ background-image: url("../../../images/multiplewishlist/tab_title/mr_h.png"); }

.multiplewishlist-tabs .i_titles .i_title span{ color: #ccc; }
.multiplewishlist-tabs .i_titles .i_title:hover span{ color: #eaeaea; }
.multiplewishlist-tabs .i_titles .i_title.current span{ color: #000; }