<?php
// Get Groupd Id and group name of user
$groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
$groupName = Mage::getModel('customer/group')->load($groupId)->getCode();

$isDefaultSubscribed = Mage::helper('crconnect')->getSubscriber(Mage::getSingleton('customer/session')->getCustomer()->getEmail(), 0);
$isCustomSubscribed = Mage::helper('crconnect')->getSubscriber(Mage::getSingleton('customer/session')->getCustomer()->getEmail(), $groupId);
?>

<div class="box-account box-info">
    <div class="box-head">
        <h2><?php echo $this->__('Contact Information') ?></h2>
        <a href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('Edit') ?></a>
    </div>
    <div class="col-1">
        <div class="box">
            <div class="box-content">
                <p>
                    <?php echo $this->escapeHtml($this->getCustomer()->getName()) ?><br />
                    <?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?><br />
                    <a href="<?php echo $this->getChangePasswordUrl() ?>"><?php echo $this->__('Change Password') ?></a>
                </p>
            </div>
        </div>
    </div>
</div>