<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<div class="seminar-form">
    <form action="<?php echo $this->getUrl('snowflake-formhandler/') ?>index/sendseminarmail" id="seminarForm" method="post" class="scaffold-form">
        <div class="fieldset">
            <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
            <ul class="form-list">
                <li class="form-area">
                    <div class="field">
                        <label for="seminar" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Seminar_provet') ?></label>
                        <div class="input-box">
                            <input name="seminar" id="seminar" title="<?php echo Mage::helper('contacts')->__('Seminar_provet') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                </li>
                <li class="form-area">
                    <div class="field">
                        <label for="praxis"><?php echo Mage::helper('contacts')->__('Praxis_provet') ?></label>
                        <div class="input-box">
                            <input name="praxis" id="praxis" title="<?php echo Mage::helper('contacts')->__('Praxis_provet') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="customer_number"><?php echo Mage::helper('contacts')->__('Customer_Number_provet') ?></label>
                        <div class="input-box">
                            <input name="customer_number" id="customer_number" title="<?php echo Mage::helper('contacts')->__('Customer_Number_provet') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="salutation" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Salutation_provet') ?></label>
                        <div class="input-box">
                            <input name="salutation" id="salutation" title="<?php echo Mage::helper('contacts')->__('Salutation_provet') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name_provet') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="street" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Street_Address_provet') ?></label>
                        <div class="input-box">
                            <input name="street" id="street" title="<?php echo Mage::helper('contacts')->__('Street Address') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="plz" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Zip/Postal_Code_provet') ?></label>
                        <div class="input-box">
                            <input name="plz" id="plz" title="<?php echo Mage::helper('contacts')->__('Zip/Postal_Code_provet') ?>" value="" class="input-text validate-zip required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="location" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Location_provet') ?></label>
                        <div class="input-box">
                            <input name="location" id="location" title="<?php echo Mage::helper('contacts')->__('Location_provet') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Telephone_provet') ?></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone_provet') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="fax"><?php echo Mage::helper('contacts')->__('Fax_provet') ?></label>
                        <div class="input-box">
                            <input name="fax" id="fax" title="<?php echo Mage::helper('contacts')->__('Fax_provet') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email_provet') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email_provet') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
                        </div>
                    </div>
                </li>
                <li class="wide form-area">
                    <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment_provet') ?></label>
                    <div class="input-box">
                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment_provet') ?>" class="input-text required-entry" cols="5" rows="3"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
        var seminarForm = new VarienForm('seminarForm', true);

        jQuery(document).ready(function() {
            jQuery('html,body').scrollTop(0);

            var seminarInput = jQuery("#seminar");
            var clickTriggler = jQuery('.to-loginform');

            seminarInput.val(jQuery("h1").text());

            clickTriggler.click(function() {
                jQuery('html, body').animate({
                        scrollTop: seminarInput.position().top + 150 },
                    1000
                );
            });
        });
    //]]>
</script>