<?php $_categories = $this->getStoreCategories() ?>
<?php foreach ($_categories as $_category): ?>
    <?php if ($this->isCategoryActive($_category)): ?>
        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
        <?php $_subcategories = $_category->getChildrenCategories() ?>
        <?php if (count($_subcategories) > 0): ?>
            <nav id="subnav" class="subnav">
                <div class="block-title">
                    <strong><span><?php echo $_category->getName(); ?></span></strong>
                </div>
                <?php //first level nav ?>
                <ul class="first-level-nav">
                    <?php foreach($_subcategories as $_subcategory): ?>
                        <?php $openFirstLevel = $this->isCategoryActive($_subcategory); ?>

                        <?php //check if category has products ?>
                        <?php  $subCategoryProductCount = Mage::getModel('catalog/category')->load($_subcategory->getId())->getProductCount(); ?>
                        <?php if ($subCategoryProductCount > 0 || $_category->getId() != 13) : ?>
                            <li class="<?php if($openFirstLevel): ?>active<?php endif; ?>">
                                <a href="<?php echo $this->getCategoryUrl($_subcategory) ?>">
                                    <?php echo $_subcategory->getName() ?>
                                </a>

                                <?php if($openFirstLevel): ?>
                                    <?php //second level nav ?>
                                    <?php $_secondLevelcategory = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                    <?php $_subsubcategories = $_secondLevelcategory->getChildrenCategories() ?>
                                    <ul class="second-level-nav">
                                        <?php foreach($_subsubcategories as $_subsubcategory): ?>
                                            <?php $openSecondLevel = $this->isCategoryActive($_subsubcategory); ?>

                                            <?php //check if category has products ?>
                                            <?php  $subSubCategoryProductCount = Mage::getModel('catalog/category')->load($_subsubcategory->getId())->getProductCount(); ?>
                                            <?php if ($subSubCategoryProductCount > 0) : ?>
                                                <li class="<?php if($openSecondLevel): ?>active<?php endif; ?>">
                                                    <a href="<?php echo $this->getCategoryUrl($_subsubcategory) ?>">
                                                        <?php echo $_subsubcategory->getName() ?>
                                                    </a>

                                                    <?php if($openSecondLevel): ?>
                                                        <?php //third level nav ?>
                                                        <?php $_thirdLevelcategory = Mage::getModel('catalog/category')->load($_subsubcategory->getId()) ?>
                                                        <?php $_subsubsubcategories = $_thirdLevelcategory->getChildrenCategories() ?>
                                                        <ul class="third-level-nav">
                                                            <?php foreach($_subsubsubcategories as $_subsubsubcategory): ?>
                                                                <?php $openThirdLevel = $this->isCategoryActive($_subsubsubcategory); ?>

                                                                <?php //check if category has products ?>
                                                                <?php  $subSubSubCategoryProductCount = Mage::getModel('catalog/category')->load($_subsubsubcategory->getId())->getProductCount(); ?>
                                                                <?php if ($subSubSubCategoryProductCount > 0) : ?>
                                                                    <li class="<?php if($openThirdLevel): ?>active<?php endif; ?>">
                                                                        <a href="<?php echo $this->getCategoryUrl($_subsubsubcategory) ?>">
                                                                            <?php echo $_subsubsubcategory->getName() ?>
                                                                        </a>

                                                                        <?php if($openThirdLevel): ?>
                                                                            <?php //fourth level nav ?>
                                                                            <?php $_forthLevelcategory = Mage::getModel('catalog/category')->load($_subsubsubcategory->getId()) ?>
                                                                            <?php $_subsubsubsubcategories = $_forthLevelcategory->getChildrenCategories() ?>
                                                                            <ul class="fourth-level-nav">
                                                                                <?php foreach($_subsubsubsubcategories as $_subsubsubsubcategory): ?>
                                                                                    <?php $openForthLevel = $this->isCategoryActive($_subsubsubsubcategory); ?>


                                                                                    <?php //check if category has products ?>
                                                                                    <?php  $subSubSubSubCategoryProductCount = Mage::getModel('catalog/category')->load($_subsubsubsubcategory->getId())->getProductCount(); ?>
                                                                                    <?php if ($subSubSubSubCategoryProductCount > 0) : ?>
                                                                                        <li class="<?php if($openForthLevel): ?>active<?php endif; ?>">
                                                                                            <a href="<?php echo $this->getCategoryUrl($_subsubsubsubcategory) ?>">
                                                                                                <?php echo $_subsubsubsubcategory->getName() ?>
                                                                                            </a>
                                                                                        </li>
                                                                                    <?php endif; ?>

                                                                                <?php endforeach; ?>
                                                                            </ul>
                                                                        <?php endif;?>



                                                                    </li>
                                                                <?php endif; ?>

                                                            <?php endforeach; ?>
                                                        </ul>
                                                    <?php endif;?>

                                                </li>
                                            <?php endif; ?>

                                        <?php endforeach; ?>
                                    </ul>
                                <?php endif;?>

                            </li>
                        <?php endif; ?>

                    <?php endforeach; ?>
                </ul>

                <script type="text/javascript">
                    decorateGeneric($$('#subnav li'), ['first', 'last']);
                </script>
            </nav>
        <?php endif; ?>
    <?php endif; ?>
<?php endforeach ?>