<div class="page-title title-buttons" id="title">
    <div style="display: none;" id="loading-mask">
        <?php echo Mage::helper('snowflake_multiplewishlist')->__('Please wait...') ?>
    </div>

    <h1><?php echo Mage::helper('snowflake_multiplewishlist')->__('My Wishlists') ?></h1>
    <form id="wishlist-view" onsubmit="ajaxChecking(document.getElementById('wlname').value, event);">
        <input type="text" class="input input-text" id="wlname" name="wlname" placeholder="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Enter a new wishlist name here') ?>" />
        <button type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Create Wishlist') ?>" onclick="ajaxChecking(document.getElementById('wlname').value);" class="button">
            <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Create Wishlist') ?></span></span>
        </button>
    </form>
</div>

<script type="text/javascript">
    function ajaxChecking(data, e) {
        if (e) {
            Event.stop(e);
        }

        if (data != '') {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax/')?>', { method: 'post',
                parameters: {wlname: data},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('fullcontent').update(transport.responseText);
                    initializeTabsSlider();
                },

                onLoading: Element.show('loading-mask')
            });
        }
    }
</script>