<?php
    /** @var $this XJ_Mycollection_Block_Frontview */
    $model = Mage::getModel('snowflake_multiplewishlist/wishlist');
    $wishlistNames = $model->getWishlistNames(null, true);

    $id = $this->getRequest()->getParam('tabId', $this->getTabId());
    $data = $model->getWishlistById($id);
    $wishlistId = $data['multiwishlist_id'];
?>
<div id="central">
    <form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update') ?>" method="post">
        <div id='central_head'>
            <table width="100%">
               <tr>
                   <td>
                       <?php if ($data['multiwishlist_editable'] && !$data['multiwishlist_is_main']): ?>
                           <input type="text" id="multiplewishlist_new_name" class="input-text" value="<?php echo htmlentities($data['multiwishlist_name']) ?>" placeholder="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Rename Wishlist') ?>" />
                           <button class="button" type="button" onclick="renameWishlist(<?php echo $wishlistId ?>);" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Rename') ?>">
                               <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Rename') ?></span></span>
                           </button>
                       <?php else: ?>
                           <span class="multiplewishlist-name"><?php echo htmlentities($data['multiwishlist_name']) ?></span>
                       <?php endif; ?>
                   </td>
                   <?php if ($wishlistId != 1): ?>
                   <td>
                       <?php if ($data['multiwishlist_editable'] && !$data['multiwishlist_is_main']): ?>
                           <div id='delbutton'>
                               <button class="button delete" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Delete') ?>" onclick="deleteWishlist(<?php echo $wishlistId ?>)">
                                   <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Delete wishlist') ?></span></span>
                               </button>
                           </div>
                       <?php endif; ?>

                       <?php if ($this->getWishlistHasItems()): ?>
                           <a class="btn-update" href="javascript:void(null);" onclick="submitForm();" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Update Wishlist') ?>">
                               <?php echo Mage::helper('snowflake_multiplewishlist')->__('Update Wishlist') ?>
                           </a>
                       <?php endif ?>
                   </td>
                   <?php endif; ?>
               </tr>
            </table>
        </div>
        <?php if ($this->getWishlistHasItems()): ?>

                <input type="hidden" name="multiplewishlist_id" value="<?php echo $wishlistId; ?>" />

                <fieldset>
                    <input type="hidden" name="tabId" value="<?php echo $id; ?>">

                    <table class="data-table zebra-table" id="wishlist-table">
                        <?php if ($data['multiwishlist_editable']): ?>
                            <col width="1"/>
                        <?php endif; ?>
                        <col/>
                        <col width="1"/>
                        <col width="1"/>

                        <thead>
                            <tr>
                                <?php if ($data['multiwishlist_editable']): ?>
                                    <th class="a-center"><input type="checkbox" name="all" onclick="checkAll(this.form,this.name);"></th>
                                <?php endif; ?>
                                <th><?php echo Mage::helper('snowflake_multiplewishlist')->__('Product') ?></th>
                                <th><?php echo Mage::helper('snowflake_multiplewishlist')->__('Comment') ?></th>
                                <th class="a-center"><span class="nobr"></span></th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php foreach ($this->getWishlistItems() as $item): ?>
                                <?php
                                    $product        = $item->getProduct();
                                    $wishlistItemId = $item->getId();
                                    $addToCartUrl   = $this->getUrl('wishlist/index/cart', array(
                                        'item' => $item->getWishlistItemId(),
                                        'qty'  => '{{qty}}',
                                    ));
                                ?>
                                <tr>
                                    <?php if ($data['multiwishlist_editable']): ?>
                                        <td><input type="checkbox" class="single" name="<?php echo $item->getWishlistItemId() ?>"></td>
                                    <?php endif; ?>
                                    <td>
                                        <?php echo $this->getCleanProductPriceHtml(); ?>
                                        <a class="product-image" href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($product->getName()) ?>">
                                            <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(49, 49); ?>" width="49" height="49" alt="<?php echo $this->htmlEscape($product->getName()) ?>"/>
                                        </a>
                                        <div class="detail-product">
                                            <h3 class="product-name"><a href="<?php echo $product->getProductUrl() ?>"><?php echo $this->htmlEscape($product->getName()) ?></a></h3>
                                            <p class="price-box">
                                            <span class="regular-price" id="product-price-<?php echo $product->getId()?><?php echo $product->getIdSuffix() ?>">
                                                <span class="price"><?php echo Mage::helper('core')->currency($product->getFinalPrice(1), true, false); ?></span>
                                            </span>
                                            </p>
                                        </div>
                                        <?php echo $this->getDetailsHtml($item) ?>
                                    </td>
                                    <td>
                                        <textarea name="description[<?php echo $item->getWishlistItemId() ?>]" rows="3" cols="5" onfocus="focusComment(this)" onblur="focusComment(this)" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Comment') ?>"><?php echo $item->getDescription() ? $item->getDescription() : Mage::helper('snowflake_multiplewishlist')->__('Please, enter your comments...') ?></textarea>
                                    </td>
                                    <td>
                                        <p><strong><?php echo Mage::helper('snowflake_multiplewishlist')->__('Add to Shopping Cart:') ?></strong></p>
                                        <input type="text" class="input-text qty" name="qty[<?php echo $item->getId() ?>]" value="<?php echo $item->getQty() > 0 ? (int) $item->getQty() : 1 ?>"/>

                                        <?php if ($product->isSaleable()): ?>
                                            <button type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Add to Cart') ?>" onclick="addItemToCart('<?php echo $addToCartUrl ?>', <?php echo $item->getId() ?>);" class="button btn-cart">
                                                <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Add to Cart') ?></span></span>
                                            </button>
                                        <?php endif; ?>

                                        <?php echo $this->getDetailsLinkHtml($item); ?>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        </tbody>
                    </table>
                    <script type="text/javascript">decorateTable('wishlist-table')</script>
                    <div class="buttons-set buttons-set2">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <?php if ($data['multiwishlist_editable']): ?>
                                        <td>
                                            <div class="multiplewishlist-bottom">
                                                <button class="button btn-copy" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Add Selected to Cart') ?>" onclick="addCheckedItemsToCart(<?php echo $wishlistId ?>)">
                                                    <span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Add Selected to Cart') ?></span>
                                                </button>

                                                <button class="button delete" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Delete Selected') ?>" onclick="removeCheckedItems(<?php echo $wishlistId ?>)">
                                                    <span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Delete Selected') ?></span>
                                                </button><br/>

                                                <?php if (count($wishlistNames) > 1): ?>
                                                    <select class="input.select" id="select_all" value=""/>
                                                        <?php foreach ($wishlistNames as $row): ?>
                                                            <?php if ($wishlistId == $row['multiwishlist_id']) continue; ?>
                                                            <option value="<?php echo $row['multiwishlist_id']?>"><?php echo Mage::helper('snowflake_multiplewishlist')->__($row['multiwishlist_name'])?></option>
                                                        <?php endforeach ?>
                                                    </select>

                                                    <button class="button btn-move" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Move') ?>" onclick="moveCheckedItemsBetweenLists($('select_all').value)">
                                                        <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Move') ?></span></span>
                                                    </button>

                                                    <button class="button btn-copy" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Copy') ?>" onclick="copyCheckedToWishlist($('select_all').value)">
                                                        <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Copy') ?></span></span>
                                                    </button>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                    <?php endif; ?>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <div class="multiplewishlist-bottom-right">
                    <button class="button" type="button" onclick="setLocation('<?php echo $this->getUrl('wishlist/index/share', array('id' => $wishlistId)) ?>')" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Share Wishlist') ?>">
                        <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Share Wishlist') ?></span></span>
                    </button>
                </div>
        <?php else: ?>
            <p><?php echo Mage::helper('snowflake_multiplewishlist')->__('You have no items in your wishlist.') ?></p>
        <?php endif ?>
    </form>
</div>
<script type="text/javascript">
    if ($$('.multiplewishlist-tabs .titles .title.current')[0]) {
        $$('.multiplewishlist-tabs .titles .title.current')[0].removeClassName('current');
    }
    $('tab_title_<?php echo $id;?>').addClassName('current');

    function confirmRemoveWishlist() {
        return confirm('<?php echo Mage::helper('snowflake_multiplewishlist')->__('Do you really want to delete this Wishlist along with all products in it?') ?>');
    }
    function confirmRemoveWishlistItem() {
        return confirm('<?php echo Mage::helper('snowflake_multiplewishlist')->__('Are you sure you want to remove this product from your wishlist?') ?>');
    }
    function focusComment(obj) {
        if (obj.value == "<?php echo Mage::helper('snowflake_multiplewishlist')->__('Please, enter your comments...'); ?>") {
            obj.value = '';
        } else if (obj.value == '') {
            obj.value = "<?php echo Mage::helper('snowflake_multiplewishlist')->__('Please, enter your comments...'); ?>";
        }
    }
    function checkAll(form, checkname) {
        if (form.elements[checkname].checked == true) {
            for (var i = 1, n = form.elements.length; i < n; i++) {
                if (form.elements[i].type == 'checkbox') {
                    form.elements[i].checked = true;
                }
            }
        } else {
            for (i = 1,n = form.elements.length; i < n; i++) {
                if (form.elements[i].type == 'checkbox') {
                    form.elements[i].checked = true;
                    form.elements[i].checked = form.elements[i].defaultChecked;
                }
            }
        }
    }
    function getSelectedItems() {
        var items = [];
        $$('.single').each(function(elem) {
            if (elem.checked) {
                items.push(elem.name);
            }
        });
        return items;
    }
    function submitForm() {
        $('wishlist-view-form').submit();
    }
    function renameWishlist(wishlistId) {
        var newName = $('multiplewishlist_new_name').value.strip();
        if (newName.length) {
            if (newName != currentWishlistName) {
                new Ajax.Request('<?php echo $this->getUrl('wishlist/index/renameWishlist') ?>', {
                    parameters: {name: newName, id: wishlistId},

                    onComplete: function(transport) {
                        Element.hide('loading-mask');
                        var result = transport.responseText.evalJSON();

                        if (result.error) {
                            alert(result.error);
                        } else if (result.ok) {
                            currentWishlistName = newName;

                            var titleElem = $$('.multiplewishlist-tabs .titles .title.current .center')[0];
                            if (titleElem) {
                                titleElem.update(currentWishlistName);
                            }

                            initializeTabsSlider();
                        }
                    },

                    onLoading: Element.show('loading-mask')
                });
            }
        } else {
            alert('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Please enter a new name')) ?>');
        }
    }
    function deleteWishlist(wishlistId) {
        if (confirmRemoveWishlist()) {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
                parameters: {removeWishlist: wishlistId},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('tabsandcontent').update(transport.responseText);

                    initializeTabsSlider();
                },

                onLoading: Element.show('loading-mask')
            });
        }
    }
    function copyToWishlist(itemId, listId) {
        new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
            parameters: {itemCopy: itemId, list: listId, tabId: listId},

            onSuccess: function(transport) {
                Element.hide('loading-mask');
                $('central').update(transport.responseText);

                wishlistUpdateLink();
                retruncateOptionsTimeout();
            },

            onLoading: Element.show('loading-mask')
        });
    }
    function copyCheckedToWishlist(listId) {
        var items = getSelectedItems();

        if (items.length) {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
                parameters: {'itemsCopy[]': items, list: listId, tabId: listId},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('central').update(transport.responseText);

                    wishlistUpdateLink();
                    retruncateOptionsTimeout();
                },

                onLoading: Element.show('loading-mask')
            });
        } else {
            alert('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Items not selected')) ?>');
        }
    }
    function moveBetweenLists(itemId, listId) {
        new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
            parameters: {itemMove: itemId, list: listId, tabId: listId},

            onSuccess: function(transport) {
                Element.hide('loading-mask');
                $('central').update(transport.responseText);

                wishlistUpdateLink();
                retruncateOptionsTimeout();
            },

            onLoading: Element.show('loading-mask')
        });
    }
    function moveCheckedItemsBetweenLists(listId) {
        var items = getSelectedItems();

        if (items.length) {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
                parameters: {'itemsMove[]': items, list: listId, tabId: listId},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('central').update(transport.responseText);

                    wishlistUpdateLink();
                    retruncateOptionsTimeout();
                },

                onLoading: Element.show('loading-mask')
            });
        } else {
            alert('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Items not selected')) ?>');
        }
    }
    function removeItem(itemId) {
        if (confirmRemoveWishlistItem()) {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax')?>', { method: 'post',
                parameters: {remove: itemId, tabId: $$('.title.current')[0].id.substring(10)},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('central').update(transport.responseText);

                    wishlistUpdateLink();
                    retruncateOptionsTimeout();
                },

                onLoading: Element.show('loading-mask')
            });
        }
    }
    function removeCheckedItems(listId) {
        var items = getSelectedItems();

        if (items.length) {
            if (confirm('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Do you really want to delete selected products?')) ?>')) {
                new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax') ?>', { method: 'post',
                    parameters: {'itemsDelete[]': items, list: listId, tabId: listId},

                    onSuccess: function(transport) {
                        Element.hide('loading-mask');
                        $('central').update(transport.responseText);

                        wishlistUpdateLink();
                        retruncateOptionsTimeout();
                    },
                    onLoading: Element.show('loading-mask')
                });
            }
        } else {
            alert('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Items not selected')) ?>');
        }
    }
    function addItemToCart(url, itemId) {
        var qtyElem = document.getElementsByName('qty[' + itemId + ']')[0];
        if (qtyElem) {
            url = url.sub('{{qty}}', parseNumber(qtyElem.value));
        }
        setLocation(url);
    }
    function addCheckedItemsToCart(wishlistId) {
        var items = getSelectedItems();

        if (items.length) {
            var params = {
                'items[]': items,
                wishlist_id: wishlistId
            };

            $$('#wishlist-view-form .qty').each(
                function (input) {
                    params[input.name] = input.value;
                }
            );

            var url = '<?php echo $this->getUrl('*/*/addSelectedItemsToCart') ?>';
            url += ((url.indexOf('?') >= 0) ? '&' : '?') + 'wishlist_id=' + wishlistId;

            var separator = '&';
            $$('#wishlist-view-form .qty').each(
                function (input) {
                    url += separator + input.name + '=' + encodeURIComponent(input.value);
                }
            );
            
            for (var i = 0; i < items.length; i++) {
                url += separator + 'items[' + i + ']=' + items[i];
            }

            setLocation(url);
        } else {
            alert('<?php echo addslashes(Mage::helper('snowflake_multiplewishlist')->__('Items not selected')) ?>');
        }
    }
    function addAllItemsToCart(wishlistId, formId) {
        var url = '<?php echo $this->getUrl('*/*/allcart') ?>';
        url += (url.indexOf('?') >= 0) ? '&wishlist_id=' + wishlistId : '?wishlist_id=' + wishlistId;

        var separator = '&';
        $$('#' + (formId || 'wishlist-view-form') + ' .qty').each(
            function (input, index) {
                url += separator + input.name + '=' + encodeURIComponent(input.value);
            }
        );

        setLocation(url);
    }

    currentWishlistName = '<?php echo addslashes($data['multiwishlist_name']) ?>';
</script>