#multiplewishlist-popup-box {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:15000;
}
#multiplewishlist-popup-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 10000;
}
#multiplewishlist-popup {
    position: fixed;
    padding: 22px 28px 30px 28px;
    width: 352px;
    top: 185px;
    left: 50%;
    margin: 0 0 0 -176px;
    background-color: #7399b4;
    color: #fff;
    overflow: auto;
    z-index: 10001;
}

#multiplewishlist-popup .multiplewishlist-title h2 {
    color: #fff;
    margin-bottom: 8px;
}

#multiplewishlist-popup .note-popup {
    margin-bottom: 7px;
}

#multiplewishlist-popup-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    background: url(../../../images/multiplewishlist/loader.gif) center center #000000 no-repeat;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 10002;
}

#multiplewishlist-radiostack {
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
}

#multiplewishlist-radiostack input.multiplewishlist-radio {
    margin-left: 2px;
    vertical-align: middle;
}

#multiplewishlist-new-name {
    margin-top: 3px;
    border: 1px solid #fff;
}

#multiplewishlist-radiostack label {
    margin-left: 6px;
    line-height: 27px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}


#multiplewishlist-popup-buttons {
    width: 100%;
    margin-top: 28px;
}
#multiplewishlist-popup-buttons button {
    padding: 7px 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    color: #7399b4;
    background-color: #eef3f7;
}