#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 100;
}
#dialog{
    z-index: 102;
    position: fixed;
    width: 500px;
    overflow: auto;
    background-color: #f8f7f5;
    left: 50%;
    top: 185px;
    margin: 0 -250px;
}
#wlname {
    margin-right: 5px;
    width: 301px;
}

#content {
    padding: 19px 20px 20px;
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #eee;
}

#wishlist-view-form {
    margin-top: 5px;
}

#wishlist-view-form fieldset {
    border: 1px solid #dfe5ea;
}

#wishlist-view-form .buttons-set {
    border-top: 0 none;
    padding: 12px 18px;
}

#title {
    margin: 0 0 2px !important;
}

#wishlist-table tbody tr td textarea {
    display: block;
    height: 109px;
    width: 250px;
}

div.multiplewishlist-bottom-right {
    padding-top: 20px;
    text-align: right;
    width: 100%;
}

div.multiplewishlist-bottom-right button.button:before {
    position: absolute;
    content: " ";
    width: 18px;
    height: 14px;
    top: 8px;
    right: 16px;
    background-image: url("../../../images/multiplewishlist/mail_btn.png");
}

div.multiplewishlist-bottom-right button.button {
    position: relative;
    padding-right: 45px;
}

.buttons-set button.button {
    float: none !important;
    margin-left: 2px !important;
}

.multiplewishlist a.btn-update {
    float: right;
    display: inline-block;
    margin-top: 5px;
    width: 22px;
    height: 21px;
    text-indent: -1000000px;
    background-image: url("../../../images/multiplewishlist/refresh_btn.png");
}

.multiplewishlist button.button {
    padding: 6px 19px 5px;
    vertical-align: baseline;
}
.multiplewishlist button.button,
.multiplewishlist button.button span {
    border: none;
}
.multiplewishlist button.button:hover,
.multiplewishlist button.button:hover span {
    background-color: #DE5400;
}

.multiplewishlist button.btn-cart {
    margin-top: 5px;
}

.multiplewishlist button.btn-copy,
.multiplewishlist button.btn-copy span,
.multiplewishlist button.btn-move,
.multiplewishlist button.btn-move span {
    background-color: #7399b4;
    border: none;
}
.multiplewishlist button.btn-copy:hover,
.multiplewishlist button.btn-copy:hover span,
.multiplewishlist button.btn-move:hover,
.multiplewishlist button.btn-move:hover span {
    background-color: #406a83;
}

.multiplewishlist-bottom button {
    margin-bottom: 5px !important;
}

tr.tr-del {
    background: none repeat scroll 0 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

td.td-del {
    background: none repeat scroll 0 0;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 50%
}

div.multiplewishlist-bottom {
    margin-left: 0 !important;
    text-align: left !important;
    width: 100%;

}

div.multiplewishlist-bottom select {
    width: 216px;
    height: 30px;
}

.product-view .box-up-sell .products-grid td {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.product-view .box-up-sell {
    margin: 0;
}

.tab_title {
    display: none;
}

.dialog_content {
    background-color: #f8f7f5 !important;
    color: #112233 !important;
}

#radiostack {
    margin-left: 20px !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

#radiostack .radio {
    display:  block;
}

.top.table_window {
    display: none !important;
}

.top.table_window {
    display: none !important;
}

.dialog {
    height: auto !important;
}

.dialog h4 {
    margin-top: 10px;
    margin-left: 10px;
}

button.selectbutton {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
    overflow: visible;
    padding: 0;
    width: 110px;
}

.selectbutton span {
    padding: 0 8px;
    height: 21px;
    line-height: 21px;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    background: none repeat scroll 0 0 #618499;
}

.selectbutton span span {
    border: 0 none;
    padding: 0;
}

#select {
    width: 100%;
    text-align: right;
    border-top:1px solid #aaa;
    margin-top: 25px;
    padding: 5px 0;
}

#loading-process {
    background: none repeat scroll 0 0 #fff4e9;
    border: 2px solid #f1af73;
    color: #d85909;
    font-size: 1.1em;
    font-weight: bold;
    left: 50%;
    margin-left: -60px;
    padding: 15px 60px;
    position: absolute;
    text-align: center;
    top: 45%;
    z-index: 501;
}

#loading-mask {
    position: fixed;
    padding: 30px 20px 30px 90px;
    margin-top: -43px;
    margin-left: -120px;
    top:50%;
    left: 50%;
    width: 240px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    border: 2px solid #e4e4e4;
    background: url(../../../images/multiplewishlist/ajax-loader.gif) 20px center no-repeat #ffffff;
    -moz-opacity: 0.80;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 500;
}

#central_head {
    padding-bottom: 15px;
}

#delbutton {
    float: right;
    margin-left: 19px;
    text-align: right;
}

#delbutton button.delete:before {
    position: absolute;
    content: " ";
    width: 13px;
    height: 16px;
    top: 7px;
    right: 18px;
    background-image: url(../../../images/multiplewishlist/delete_btn.png);
}

#delbutton button.delete {
    position: relative;
    padding-right: 39px;
}

.multiplewishlist button.delete,
.multiplewishlist button.delete span {
    background-color: #ff491d;
    border: 0 none;
}
.multiplewishlist button.delete:hover,
.multiplewishlist button.delete:hover span {
    background-color: #a92000;
}

#select button.selectbutton {
    margin-top:0;
}

#multiplewishlist_new_name { margin-right: 5px; width: 301px; }
.multiplewishlist-name {line-height: 31px;}

.multiplewishlist .button-set-table { width: 100%; margin-top: 5px; }
.multiplewishlist .button-set-table button.button { width: 95%; }

.multiplewishlist-tabs .titles{ position: relative; z-index: 10; margin-bottom: -1px; }
/********************/
.multiplewishlist-tabs .titles .title{ height: 27px; cursor: pointer; }

.multiplewishlist-tabs .titles .title.first{ margin-left: 0; }
.multiplewishlist-tabs .titles .title.last{ margin-right: 0; }
.multiplewishlist-tabs .titles.with-scroll .title.first{ margin-left: 1px; }
.multiplewishlist-tabs .titles.with-scroll .title.last{ margin-right: 1px; }
/********************/
.multiplewishlist-tabs .titles .title span{ display: inline-block; line-height: 55px; font-size: 16px; }
.multiplewishlist-tabs .titles .title .center{ padding: 0 10px; }
.multiplewishlist-tabs .titles .title .left,
.multiplewishlist-tabs .titles .title .right{ width: 3px; float: none !important; }
/********************/
.multiplewishlist-tabs .titles .titles-holder{ overflow :hidden; white-space: nowrap; height: 55px; }
.multiplewishlist-tabs .titles.with-scroll .titles-holder{ margin: 0 17px; }

/*****CORNERS********/
.multiplewishlist-tabs .titles .title .corner{ display: none; }
/********************/
.multiplewishlist-tabs .titles .scroll{ display: none; cursor: pointer; position: absolute; }
.multiplewishlist-tabs .titles .scroll.right{ right: 0; }
.multiplewishlist-tabs .titles .scroll.left{ left: 0; }
.multiplewishlist-tabs .titles.with-scroll .scroll{ display: block; width: 17px; height: 26px; }
/********************/
.multiplewishlist-tabs .contents{ position: relative; top: -1px; z-index: 0; border: 1px solid; }
.multiplewishlist-tabs .contents2{ margin: 10px; }
.multiplewishlist-tabs .contents .content{ display: none; padding: 0 !important; }
.multiplewishlist-tabs .contents .content.current{ display: inline; }

.product-view .box-up-sell .products-grid td { padding-left: 8px !important; padding-right: 8px !important; }
.product-view .box-up-sell{ margin: 0; }
.tab_title{ display: none; }
.multiplewishlist-tabs { margin-top: 10px; }

.multiplewishlist-tabs .titles .title span{ color: #fff; height: 54px; border-top: 1px solid #96bad4; }
.multiplewishlist-tabs .titles .title .center{ background-color: #96bad4; text-align: center; min-width: 123px; }
.multiplewishlist-tabs .titles .title .left{ background-color: #96bad4; border-left: 1px solid #7ba3c1; }
.multiplewishlist-tabs .titles .title:first-child .left { background-color: #96bad4; border-left: 1px solid #96bad4; }
.multiplewishlist-tabs .titles .title .right{ background-color: #96bad4; border-right: 1px solid #96bad4; }

.multiplewishlist-tabs .titles .title:hover span{ color: #fff; height: 54px;  border-top: 1px solid #7399b4; }
.multiplewishlist-tabs .titles .title:hover .center{ background-color: #7399b4; }
.multiplewishlist-tabs .titles .title:hover .left{ background-color: #7399b4; border-left: 1px solid #7399b4; }
.multiplewishlist-tabs .titles .title:hover .right{ background-color: #7399b4; border-right: 1px solid #7399b4; }

.multiplewishlist-tabs .titles .title.current span{ color: #000; height: 55px; border-top: 1px solid #eee;}
.multiplewishlist-tabs .titles .title.current .center{ background-color: #fff; }
.multiplewishlist-tabs .titles .title.current .left{ background-color: #fff; border-left: 1px solid #eee; }
.multiplewishlist-tabs .titles .title.current .right{ background-color: #fff; border-right: 1px solid #eee; }

.multiplewishlist-tabs .contents{ border-color: #ccc; background-color: #fff; background-repeat: repeat-x; background-image: url("../../../images/multiplewishlist/tab_title/b.png"); }

.multiplewishlist-tabs .titles.with-scroll .scroll:before {
    position: absolute;
    content: " ";
    top: 20px;
    left: 4px;
    width: 13px;
    height: 16px;
    background-image: url("../../../images/icon_sprite.png");
}

.multiplewishlist-tabs .titles.with-scroll .scroll._left:before {
    background-position: -12px -695px;
}

.multiplewishlist-tabs .titles.with-scroll .scroll._right:before {
    background-position: 0 -695px;
}

.multiplewishlist-tabs .titles.with-scroll .scroll._left{ width: 17px; height: 54px; background: #7399b4; border-right: 1px solid #7399b4; }
.multiplewishlist-tabs .titles.with-scroll .scroll._right{ position: absolute; right: 0;  width: 17px; height: 54px; background-color: #7399b4; border-left: 1px solid #7399b4; }

.multiplewishlist-tabs .titles.with-scroll .scroll._left:hover{ background-color: #96bad4; }
.multiplewishlist-tabs .titles.with-scroll .scroll._right:hover{ background-color: #96bad4; }

.multiplewishlist-tabs .i_titles .i_title span{ color: #ccc; }
.multiplewishlist-tabs .i_titles .i_title:hover span{ color: #eaeaea; }
.multiplewishlist-tabs .i_titles .i_title.current span{ color: #000; }