<?php
/**
 * Created by PhpStorm.
 * User: Felix Elsener
 * Email: felsener@snowflake.ch
 * Project: www
 * Date: 16.01.2015
 * Time: 15:50
 *
 */
?>
<?php
    /* @var $this Snowflake_Promotion_Block_Widget_Block */
    $_products  = $this->getProductCollection()
?>
<?php if ($_products && $_products->getSize()): ?>
    <h2 class="subtitle"><?php echo $this->__('Discounts') ?></h2>
    <?php if ($this->showSlider()): ?>
        <div class="products-promotion-slider">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('discount_slider')->toHtml() ?>
        </div>
    <?php endif; ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <ul class="products-grid products-discount-grid products-grid--max-<?php echo $_columnCount; ?>-col">
        <?php $i=0; foreach ($_products->getItems() as $_product): ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="product-image">
                    <?php $_imgSizeW = 192; ?>
                    <?php $_imgSizeH = 112; ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSizeW, $_imgSizeH); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-discount">
                        <span class="h2"><?php echo Mage::helper('snowflake_promotion')->__('Discount') ?></span>
                    </div>
                    
                    <h3 class="product-name"><?php echo $this->escapeHtml($_product->getName()) ?></h3>
                    <div class="product-short-description"><?php echo $this->escapeHtml($_product->getShortDescription()) ?></div>
                    <?php echo $this->getPriceHtml($_product, true, '-widget-discount-grid') ?>

                    <a class="product-details" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->__('View Details') ?></a>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>