<?php if($this->canShowBlock()): ?>
    <?php $state = $this->getStateInfo(); ?>

    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo $this->__('Shop By') ?></span></strong>
        </div>
        <div class="block-content toggle-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->canShowOptions()): ?>
                <input type="hidden" id="snowflake_filter_url" value="<?php echo $this->htmlEscape($state[0]) ?>"/>
                <input type="hidden" id="snowflake_filter_params" value="<?php echo $this->htmlEscape($state[1]) ?>"/>
                <input type="hidden" id="snowflake_filter_ajax" value="<?php echo $this->htmlEscape($state[2]) ?>"/>
                <dl id="narrow-by-list">
                    <?php if ($state[1] && $this->needClearAll()): ?>
                        <div class="actions filter_layered_clear_all"><a class="filter_layered_clearall" href="<?php echo $this->htmlEscape($this->getClearAllUrl()) ?>"><?php echo $this->__('Clear All') ?></a></div>
                    <?php endif ?>

                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <dt><?php echo $this->__($_filter->getName()) ?></dt>
                            <dd><?php echo $_filter->getHtml() ?></dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
        <div class="loading_filters" style="display:none"></div>
    </div>
    <script type="text/javascript">
        snowflakeMultipleFilter = new Snowflake.MultipleFilter();

        jQuery('#narrow-by-list dd').mCustomScrollbar({
            theme: "dark-3"
        });
    </script>
<?php endif; ?>