<?php
/**
 * Created by PhpStorm.
 * User:    Steven Hilgendorff
 * Email:   shilgendorff@snowflake.ch
 * Company: Snowflake GmbH
 * Date:    24.04.2017
 * Time:    08:05
 */

$customerSession = Mage::getSingleton('customer/session');
?>
<div class="newsletter-form">
    <form action="<?php echo $this->getUrl('snowflake-formhandler/') ?>index/sendnewslettermail" id="newsletterform" method="post" class="scaffold-form">
        <div class="fieldset">
            <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
            <ul class="form-list">
                <li class="form-area">
                    <div class="field">
                        <label for="register"><?php echo Mage::helper('contacts')->__('Newsletter_registrierung_provet') ?></label>
                        <div class="select-box">
                            <select name="register" id="register" title="<?php echo Mage::helper('contacts')->__('Newsletter_registrierung_provet') ?>"  class="select-multiple required-entry">
                                <option value="0"><?php echo Mage::helper('contacts')->__('Newsletter_registrierung_generally') ?></option>
                                <option value="1"><?php echo Mage::helper('contacts')->__('Newsletter_registrierung_accessories_petfood') ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="date"><?php echo Mage::helper('contacts')->__('Date_newsletter_provet') ?></label>
                        <div class="input-box">
                            <input name="date" id="date" title="<?php echo Mage::helper('contacts')->__('Date_newsletter_provet') ?>" value="<?php echo Mage::getModel('core/date')->date("d.m.Y - H:i"); ?>" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="praxis"><?php echo Mage::helper('contacts')->__('Praxis_provet') ?></label>
                        <div class="input-box">
                            <input name="praxis" id="praxis" title="<?php echo Mage::helper('contacts')->__('Praxis_provet') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="customer_number"><?php echo Mage::helper('contacts')->__('Customer_Number_provet') ?></label>
                        <div class="input-box">
                            <input name="customer_number" id="customer_number" title="<?php echo Mage::helper('contacts')->__('Customer_Number_provet') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name_provet') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name_provet') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="street" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Street_Address_provet') ?></label>
                        <div class="input-box">
                            <input name="street" id="street" title="<?php echo Mage::helper('contacts')->__('Street_Address_provet') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="plz" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Zip/Postal_Code_provet') ?></label>
                        <div class="input-box">
                            <input name="plz" id="plz" title="<?php echo Mage::helper('contacts')->__('Zip/Postal Code') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="location" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Location_provet') ?></label>
                        <div class="input-box">
                            <input name="location" id="location" title="<?php echo Mage::helper('contacts')->__('Location') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Telephone_provet') ?></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var newsletterform = new VarienForm('newsletterform', true);
    //]]>
</script>