.giant-onestepcheckout-overlay, .giant-onestepcheckout-timer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 995; /*for compatibility with menu*/
    background-color: #fbfaf6;
    opacity: 0.6;
}
#acp-overlay {
    z-index: 995;
}

.giant-onestepcheckout-overlay-48 {
    background-image: url('images/ajax-loader-48px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.giant-onestepcheckout-overlay-24 {
    background-image: url('images/ajax-loader-24px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.giant-onestepcheckout-overlay-16 {
    background-image: url('images/ajax-loader-16px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.giant-onestepcheckout-timer {
    display: none;
    overflow: hidden;
}

/* LOGIN FORM*/
#giant-onestepcheckout-authentification {
    overflow: hidden;
}

#giant-onestepcheckout-authentification-container {
    height: 30px;
    position: relative;
    top: 0px;
}

#giant-onestepcheckout-login-form, #giant-onestepcheckout-forgot-password-form, #giant-onestepcheckout-forgot-password-success {
    display: block;
}

.giant-onestepcheckout-auth-form-block {
    display: block;
    padding: 0 !important;
    margin-bottom: 13px;
}
.giant-onestepcheckout-auth-form-block.last{
    padding: 10px 5px;
}
.giant-onestepcheckout-auth-form-block .form-list {
    display: inline-block;
    line-height: 46px;
}
.giant-onestepcheckout-auth-form-block .form-list .control {
    margin: 0;
}
.giant-onestepcheckout-auth-form-block .form-list .control input.checkbox {
    margin: 17px 6px 0 0;
}
.giant-onestepcheckout-auth-form-block .form-list .control label,
.giant-onestepcheckout-auth-form-block .form-list .control label:hover {
    padding: 0;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
}
.giant-onestepcheckout-auth-form-block .button {
    padding: 7px 20px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
    background-color: #C41522;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    float: right;
}
.giant-onestepcheckout-auth-form-block .button:hover {
    background-color: #a24203;
}

#giant-onestepcheckout-login-forgot-link,
.giant-onestepcheckout-forgot-password-back{
    display: inline-block;
    width: 170px;
    /*
    margin-bottom: 13px;
    */
}

#giant-onestepcheckout-login-form-block-fbi {
    position: absolute;
    right: 0;
    padding-top: 17px;
}

.giant-onestepcheckout-error-msg {
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #a24203 !important;
}
/* UI - POPUP */
.giant-onestepcheckout-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 100;
    cursor: pointer;
}
.giant-onestepcheckout-popup {
    position: fixed;
    padding: 22px 30px 8px !important;
    width: 100%;
    max-width: 352px !important;
    background-color: #e18990 !important;
    color: #fff;
    z-index: 200;
    overflow: hidden;
    height:auto!important;
}

.giant-onestepcheckout-popup .giant-onestepcheckout-overlay {
    opacity: 0.5;
    background-image: url(images/ajax-loader.gif);
    margin: -22px -30px -8px;
}
.giant-onestepcheckout-popup-close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 13px;
}

.giant-onestepcheckout-popup-close a {
    font-weight: bold;
    color: #fff;
}

.giant-onestepcheckout-popup-close a:hover {
    color: #fff;
}
/*Authentication*/
#giant-onestepcheckout-authentification-popup-content {
    display: inline-block;
    width: 100%;
    height: auto !important;
}
#giant-onestepcheckout-authentification-popup-content a,
#giant-onestepcheckout-authentification-popup-content h2 {
    color: #fff;
}
#giant-onestepcheckout-authentification-popup-content h2 {
    margin-bottom: 8px;
}
#giant-onestepcheckout-authentification-popup-content .input-text {
    height: 45px;
    border: 1px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#giant-onestepcheckout-authentification-popup-content .validation-advice {
    color: #a24203 !important;;
}
#giant-onestepcheckout-authentification-popup #giant-onestepcheckout-authentification-popup-content .onestep-title{
    margin-left: 0;
}
.note-popup {
    margin-bottom: 15px;
}
#giant-onestepcheckout-login-form,#giant-onestepcheckout-forgot-password-form{
    padding: 0 !important;
}