<?php
/** @var $this Snowflake_PriceGroup_Block_Adminhtml_Customer_Edit_Render_Customerprice */
$_htmlId = $this->getElement()->getHtmlId();
$_htmlClass = $this->getElement()->getClass();
$_htmlName = $this->getElement()->getName();
$_readonly = $this->getElement()->getReadonly();
$_priceValueValidation = $this->getPriceValidation('validate-zero-or-greater');

$_showWebsite = $this->isMultiWebsites();
?>
<style type="text/css">
    .autocomplete-w1 { position:absolute; top:4px; left:3px; /* IE6 fix: */ _top:1px; }
    .autocomplete-w2 { padding:0 6px 6px 0; }
    .autocomplete { width:500px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
    .autocomplete .selected { background:#F0F0F0; }
    .autocomplete div { padding:2px 5px; white-space:nowrap; }
    .autocomplete strong { font-weight:normal; color:#3399FF; }
</style>

<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td colspan="10" class="grid product">
        <table cellspacing="0" class="data border" id="customer_prices_table" style="width: auto;">
            <?php if ($_showWebsite) : ?>
                <col width="160" />
            <?php endif; ?>
            <col width="250" />
            <col width="105" />
            <col width="105" />
            <col width="100" />
            <col width="65" />
            <col width="100" />
            <col width="75" />
            <col width="1" />
            <col width="70" />
            <thead>
                <tr class="headings">
                    <th <?php if (!$_showWebsite): ?>style="display: none;"<?php endif; ?>><?php echo Mage::helper('catalog')->__('Website'); ?></th>
                    <th><?php echo Mage::helper('catalog')->__('Product'); ?></th>
                    <th><?php echo Mage::helper('snowflake_pricegroup')->__('Date From') ?></th>
                    <th><?php echo Mage::helper('snowflake_pricegroup')->__('Date To') ?></th>
                    <th><?php echo Mage::helper('catalog')->__('Qty') ?></th>
                    <th><?php echo $this->getPriceColumnHeader(Mage::helper('catalog')->__('Price')); ?></th>
                    <th><?php echo Mage::helper('snowflake_pricegroup')->__('Additional Discount') ?></th>
                    <th><?php echo Mage::helper('snowflake_pricegroup')->__('Finalprice') ?></th>
                    <th><?php echo Mage::helper('catalog')->__('Action'); ?></th>
                    <th class="last"><?php echo Mage::helper('catalog')->__('Link'); ?></th>
                </tr>
            </thead>
            <tbody id="<?php echo $_htmlId; ?>_container"></tbody>
            <tfoot>
                <tr>
                    <td <?php if (!$_showWebsite): ?>style="display: none;"<?php endif; ?>></td>
                    <td colspan="9" class="a-right"><?php echo $this->getAddButtonHtml(); ?></td>
                </tr>
            </tfoot>
        </table>

        <?php echo $this->helper('adminhtml/js')->includeScript('snowflake/pricegroup/autocomplete.js') ?>

        <script type="text/javascript">
            //<![CDATA[
            var customerPriceRowTemplate = '<tr>'
                + '<td<?php if (!$_showWebsite): ?> style="display:none"<?php endif; ?>>'
                + '<input type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][value_id]" value="{{value_id}}" />'
                + '<select class="<?php echo $_htmlClass; ?> required-entry" name="<?php echo $_htmlName; ?>[{{index}}][website_id]" id="customer_price_row_{{index}}_website">'
                <?php foreach ($this->getWebsites() as $_websiteId => $_info) : ?>
                + '<option value="<?php echo $_websiteId; ?>"><?php echo $this->jsQuoteEscape($this->escapeHtml($_info['name'])); ?><?php if (!empty($_info['currency'])) : ?> [<?php echo $this->escapeHtml($_info['currency']); ?>]<?php endif; ?></option>'
                <?php endforeach; ?>
                + '</select></td>'
                + '<td>'
                + '<input class="<?php echo $_htmlClass; ?> productname required-entry" type="text" name="<?php echo $_htmlName; ?>[{{index}}][productname]" id="customer_price_row_{{index}}_productname" />'
                + '<input class="<?php echo $_htmlClass; ?> product_id required-entry" type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][product_id]" id="customer_price_row_{{index}}_product_id" />'
                + '<input class="<?php echo $_htmlClass; ?> customer required-entry" type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][customer]" id="customer_price_row_{{index}}_customer" />'
                + ' </td>'
                + '<td class="nobr"><input class="<?php echo $_htmlClass ?>" type="text" style="width:70px !important;" name="<?php echo $_htmlName ?>[{{index}}][customer_price_start_date]" value="{{customer_price_start_date}}" id="customer_price_row_{{index}}_start_date" />'
                + ' <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" title="<?php echo $this->__('Select Date') ?>" id="customer_price_row_{{index}}_start_date_trig" alt="<?php echo $this->__('Select Date') ?>" class="v-middle"/></td>'
                + '<td class="nobr"><input class="<?php echo $_htmlClass ?>" type="text" style="width:70px !important;" name="<?php echo $_htmlName ?>[{{index}}][customer_price_end_date]" value="{{customer_price_end_date}}" id="customer_price_row_{{index}}_end_date" />'
                + ' <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" title="<?php echo $this->__('Select Date') ?>" id="customer_price_row_{{index}}_end_date_trig" alt="<?php echo $this->__('Select Date') ?>" class="v-middle"/></td>'
                + '<td class="nobr"><input class="<?php echo $_htmlClass; ?> qty required-entry validate-greater-than-zero" type="text" name="<?php echo $_htmlName; ?>[{{index}}][price_qty]" value="{{qty}}" id="customer_price_row_{{index}}_qty" />'
                + ' <small class="nobr"><?php echo Mage::helper('catalog')->__("and above")?></small></td>'
                + '<td><input class="<?php echo $_htmlClass; ?> required-entry <?php echo $_priceValueValidation; ?>" type="text" name="<?php echo $_htmlName; ?>[{{index}}][price]" value="{{price}}" id="customer_price_row_{{index}}_price" style="width:40px;" /></td>'
                + '<td><input class="<?php echo $_htmlClass; ?> discount required-entry" type="text" name="<?php echo $_htmlName; ?>[{{index}}][discount]" value="{{discount}}" id="customer_price_row_{{index}}_discount" />'
                + ' <small class="nobr">%</small></td>'
                + '<td><select class="<?php echo $_htmlClass; ?> finalprice required-entry" name="<?php echo $_htmlName; ?>[{{index}}][finalprice]" id="customer_price_row_{{index}}_finalprice">'
                <?php foreach ($this->getFinalprices() as $_data) : ?>
                + '<option value="<?php echo $_data['value']; ?>"><?php echo $this->jsQuoteEscape($this->escapeHtml($_data['label'])); ?></option>'
                <?php endforeach; ?>
                + '</select></td>'
                + '<td><input type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][delete]" class="delete" value="" id="customer_price_row_{{index}}_delete" />'
                + '<button title="<?php echo Mage::helper('catalog')->__('Delete Customer Price'); ?>" type="button" class="scalable delete icon-btn delete-product-option" id="customer_price_row_{{index}}_delete_button" onclick="return customerPriceControl.deleteItem(event);">'
                + '<span><?php echo Mage::helper('catalog')->__('Delete'); ?></span></button></td>'
                + '<td class="last"><a href="#" onclick="window.open(\'<?php echo Mage::helper("adminhtml")->getUrl("*/catalog_product/edit", array('id' => '{{product_id}}')); ?>\'); return true;"><?php echo Mage::helper('snowflake_pricegroup')->__('Product') ?></a></td>'
                + '</tr>';

            var customerPriceControl = {
                template: new Template(customerPriceRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', '')),
                itemsCount: 0,
                addItem : function () {
                    <?php if ($_readonly): ?>
                    if (arguments.length < 3) {
                        return;
                    }
                    <?php endif; ?>
                    var data = {
                        website_id: '<?php echo $this->getDefaultWebsite(); ?>',
                        productname: '',
                        product_id: '',
                        customer: '<?php echo $this->getCustomerId(); ?>',
                        qty: '',
                        price: '',
                        start_date: null,
                        end_date: null,
                        discount: '',
                        finalprice: 1,
                        readOnly: false,
                        index: this.itemsCount++
                    };

                    if(arguments.length >= 10) {
                        data.website_id   = arguments[0];
                        data.product_id   = arguments[1];
                        data.productname  = arguments[2];
                        data.customer     = arguments[3];
                        data.qty          = arguments[4];
                        data.price        = arguments[5];
                        data.discount     = arguments[6];
                        data.finalprice   = arguments[7];
                        data.start_date   = arguments[8];
                        data.end_date     = arguments[9];
                    }
                    if (arguments.length == 11) {
                        data.readOnly = arguments[10];
                    }

                    Element.insert($('<?php echo $_htmlId; ?>_container'), {
                        bottom : this.template.evaluate(data)
                    });

                    $('customer_price_row_' + data.index + '_website').value = data.website_id;
                    $('customer_price_row_' + data.index + '_customer').value = data.customer;
                    $('customer_price_row_' + data.index + '_product_id').value = data.product_id;
                    $('customer_price_row_' + data.index + '_productname').value = data.productname;
                    $('customer_price_row_' + data.index + '_finalprice').value   = data.finalprice;
                    $('customer_price_row_' + data.index + '_start_date').value = data.start_date;
                    $('customer_price_row_' + data.index + '_end_date').value = data.end_date;

                    if (data.readOnly == '1') {
                        //['website', 'product_id', 'productname', 'customer', 'qty', 'price', 'start_date', 'end_date', 'delete'].each(function(element_suffix) {
                        //    $('customer_price_row_' + data.index + '_' + idx).disabled = true;
                        //});
                        //$('customer_price_row_' + data.index + '_delete_button').hide();
                        console.log('customer customerPriceControl addItem500: ');
                    }

                    <?php if ($_readonly): ?>
                    $('<?php echo $_htmlId; ?>_container').select('input', 'select').each(this.disableElement);
                    $('<?php echo $_htmlId; ?>_container').up('table').select('button').each(this.disableElement);
                    <?php else: ?>
                    $('<?php echo $_htmlId; ?>_container').select('input', 'select').each(function(element) {
                        Event.observe(element, 'change', element.setHasChanges.bind(element));
                    });
                    <?php endif; ?>

                    this.addCalendar('customer_price_row_' + data.index + '_start_date');
                    this.addCalendar('customer_price_row_' + data.index + '_end_date');

                    new Autocomplete('customer_price_row_' + data.index + '_productname', eval(<?php echo $this->getAllProducts(); ?>), { width: 500, onSelect: function(autoval, autodata) { $('customer_price_row_' + data.index + '_product_id').value = autodata; } });
                },
                addCalendar: function(inputId) {
                    Calendar.setup({
                        inputField : inputId,
                        ifFormat : '<?php echo $this->getDateFormat() ?>',
                        button : inputId + '_trig',
                        showsTime: false,
                        align : 'Bl',
                        singleClick : true
                    });
                },
                disableElement: function(element) {
                    console.log('customer customerPriceControl disableElement: ');
                },
                deleteItem: function(event) {
                    var tr = Event.findElement(event, 'tr');
                    if (tr) {
                        Element.select(tr, '.delete').each(function(elem){elem.value='1'});
                        Element.select(tr, ['input', 'select']).each(function(elem){elem.hide()});
                        Element.hide(tr);
                        Element.addClassName(tr, 'no-display template');
                    }
                    return false;
                }
            };
            <?php foreach ($this->getValues() as $_item) : ?>
            customerPriceControl.addItem('<?php echo $_item['website_id']; ?>', '<?php echo $_item['product_id']; ?>', '<?php echo $_item['productname']; ?>', '<?php echo $_item['customer']; ?>', '<?php echo $_item['price_qty']*1 ?>', '<?php echo sprintf('%.2f', $_item['price']); ?>', '<?php echo $_item['discount'] ?>', '<?php echo $_item['finalprice'] ?>', '<?php echo $_item['start_date'] ?>', '<?php echo $_item['end_date'] ?>', <?php echo (int)!empty($_item['readonly']); ?>);
            <?php endforeach; ?>
            <?php if ($_readonly) : ?>
            $('<?php echo $_htmlId; ?>_container').up('table').select('button').each(customerPriceControl.disableElement);
            <?php endif; ?>
            //]]>
        </script>
    </td>
</tr>