<?php
$wishlists = $this->getWishlists();
$mainWishlist = null;
?>
<div id="multiplewishlist-popup-box" class="multiplewishlist-popup-box-remove" style="display: none;">
    <div id="multiplewishlist-popup-mask"></div>
    <div id="multiplewishlist-popup" class="window">
        <div id="multiplewishlist-popup-loading" style="display: none;"></div>
        <div class="multiplewishlist-title">
            <h2><?php echo $this->__('Wishlist')?></h2>
        </div>

        <p class="note-popup"><?php echo $this->__('Please select a wishlist you wish to add selected product(s) to:')?></p>

        <div id="multiplewishlist-radiostack">
            <?php foreach ($wishlists as $wishlist): ?>
                <div>
                    <input id="multiplewishlist-radio-<?php echo $wishlist['multiwishlist_id'] ?>" class="multiplewishlist-radio" type="radio" name="multiplewishlist-radio" value="<?php echo $wishlist['multiwishlist_id'] ?>" alt="<?php echo htmlentities($wishlist['multiwishlist_is_main']) ?>" <?php if ($wishlist['multiwishlist_is_main']): $mainWishlist = $wishlist['multiwishlist_id']; ?> checked="checked" <?php endif; ?>/>
                    <label for="multiplewishlist-radio-<?php echo $wishlist['multiwishlist_id'] ?>"><?php echo $wishlist['multiwishlist_name'] ?></label>
                </div>
            <?php endforeach ?>
            <div>
                <input id="multiplewishlist-radio-new-name" class="multiplewishlist-radio" type="radio" name="multiplewishlist-radio" value="new" />
                <label for="multiplewishlist-radio-new-name"><?php echo $this->__('or create a new wishlist:') ?></label>

                <input id="multiplewishlist-new-name" class="input-text" onclick="checkRadio();" type="text" width="50%" placeholder="<?php echo $this->__('Wishlist name') ?>" />
            </div>
        </div>
        <div id="multiplewishlist-popup-buttons">
            <button class="multiplewishlist-button-select button" type="button" title="<?php echo $this->__('Add') ?>">
                <span><span><?php echo $this->__('Add') ?></span></span>
            </button>

            <button class="multiplewishlist-button-cancel button" type="button" title="<?php echo $this->__('Cancel') ?>">
                <span><span><?php echo $this->__('Cancel') ?></span></span>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    snowflakeWishlistPopup = new Snowflake.WishlistPopup(<?php echo $this->getConfigJson() ?>);
    Event.observe(document, 'dom:loaded', function(){
        var body = $$('body')[0];
        if (body) {
            body.appendChild($('multiplewishlist-popup-box'));
        }
        snowflakeWishlistPopup.mainWishlist = '<?php echo $mainWishlist ?>'
    });

    function checkRadio() {
        $$('.multiplewishlist-radio').each(function(elem) {
            if (elem.value == 'new') {
                elem.checked = true;
            }
        });
    }
</script>