#snowflake_wishlist .check {
    margin-right: 10px;
}

#snowflake_wishlist button {
    margin-bottom: 20px;
    margin-top: 10px;
}

#snowflake_wishlist .wishlist {
    border: 1px solid #d6d6d6;
    margin-top: 5px;
}

#snowflake_wishlist .wishlist .head {
    height: 25px;
    background-color: #6f8992;
    color: #fff;
}

#snowflake_wishlist .wishlist .head .name {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}

#snowflake_wishlist .wishlist .head .name span.additional-info {
    color: #99ff66;
    margin-left: 20px;
    font-style: italic;
    text-transform: lowercase;
}

#snowflake_wishlist .wishlist .head button {
    margin: 0;
    margin-right: 10px;
    margin-top: 2px;
    float: right;
}

#snowflake_wishlist .wishlist .product {
    margin: 2px 3px;
    background-color: #ccc;
    padding: 3px;
    padding-right: 10px;
}

#snowflake_wishlist .wishlist .product .remove {
    float: right;
    color: #f00;
    text-decoration: underline;
    cursor: pointer;
}

#snowflake_wishlist .wishlist .add-product {
    background-color: #e7e7e7;
}

#snowflake_wishlist .wishlist .add-product button {
    margin: 2px 10px;
}

#snowflake_wishlist .wishlist .add-product select,
#snowflake_wishlist .wishlist .add-product input {
    margin: 2px 10px;
}