<?php
    $customerSession = Mage::getSingleton('customer/session');
?>
<div id="giant-onestepcheckout-authentification-popup" class="giant-onestepcheckout-popup"
     style="display:none">
    <div id="giant-onestepcheckout-authentification-popup-close" class="giant-onestepcheckout-popup-close">
        <a href="javascript:void(0)" title="<?php echo $this->__('Close')?>"><?php echo $this->__('X');?></a>
    </div>
    <div id="giant-onestepcheckout-authentification-popup-content">
        <div id="giant-onestepcheckout-authentification-popup-content-login">
            <div class="onestep-title login-title">
                <h2><?php echo $this->__('Login'); ?></h2>
            </div>
            <form id="giant-onestepcheckout-login-form" action="<?php echo $this->getLoginAjaxAction() ?>"
                  method="post">
                <div class="form-list">
                    <p class="note-popup"><?php echo $this->__('Please Login to saw the products') ?></p>
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                    <div class="giant-onestepcheckout-auth-form-block">
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" id="login-email"
                                   name="login[username]" value="<?php echo $this->getUsername() ?>" placeholder="<?php echo $this->__('Email Address/Username') ?>"/>
                        </div>
                    </div>
                    <div class="giant-onestepcheckout-auth-form-block">
                        <div class="input-box">
                            <input type="password" class="input-text required-entry validate-password"
                                   id="login-password" name="login[password]" placeholder="<?php echo $this->__('Password') ?>"/>
                        </div>
                    </div>
                    <div class="giant-onestepcheckout-auth-form-block">
                        <ul>
                            <li><a id="giant-onestepcheckout-login-forgot-link" href="javascript:void(0);"><?php echo $this->__('Forgot your password') ?>?</a></li>
                            <li><a id="giant-onestepcheckout-register" href="<?php echo Mage::getUrl('customer/account/create') ?>"><?php echo $this->__('Get customer login') ?></a></li>
                        </ul>
                    </div>
                    <div class="giant-onestepcheckout-auth-form-block">
                        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                        <button type="submit" class="button" id="giant-onestepcheckout-login-submit-btn">
                            <span><span><?php echo $this->__('Login') ?></span></span>
                        </button>
                        <div style="clear:both;"></div>
                    </div>

                </div>
            </form>
        </div>
        <div id="giant-onestepcheckout-authentification-popup-content-forgot-password" style="display: none">
            <div class="onestep-title forgot-pass-title">
                <h2><?php echo $this->__('Forgot your password') ?>?</h2>
            </div>
            <form id="giant-onestepcheckout-forgot-password-form"
                  action="<?php echo $this->getForgotPasswordAjaxAction() ?>" method="post">
                <div class="form-list">
                    <p class="note-popup"><?php echo $this->__('Please enter your email below and we will send you a new password.'); ?></p>

                    <div class="giant-onestepcheckout-auth-form-block">
                        <div class="input-box">
                            <input type="text" class="input-text required-entry"
                                   id="forgot-password-email" name="email"
                                   value="<?php echo $this->getUsername() ?>" placeholder="<?php echo $this->__('Email Address/Username') ?>"/>
                        </div>
                    </div>
                    <div class="giant-onestepcheckout-auth-form-block">
                        <a class="giant-onestepcheckout-forgot-password-back" href="javascript:void(0);"><?php echo $this->__('Return to Login') ?></a>
                        <button type="submit" class="button" id="giant-onestepcheckout-forgot-password-submit-btn">
                            <span><span><?php echo $this->__('Submit') ?></span></span>
                        </button>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="giant-onestepcheckout-authentification-overlay" class="giant-onestepcheckout-popup-overlay" style="display:none"></div>
<script type="text/javascript">
    var giantOSCLoginBlock = new MagegiantOnestepcheckoutLogin({
        loginLink:'.giant-login-link',
        containerSelector: '#giant-onestepcheckout-authentification-popup',
        contentLogin: '#giant-onestepcheckout-authentification-popup-content-login',
        contentForgotPassword: '#giant-onestepcheckout-authentification-popup-content-forgot-password',
        forgotPasswordLinkSelector: '#giant-onestepcheckout-login-forgot-link',
        backToLoginLinkSelector: '.giant-onestepcheckout-forgot-password-back',
        loginFormSelector: '#giant-onestepcheckout-login-form',
        forgotPasswordFormSelector: '#giant-onestepcheckout-forgot-password-form',
        forgotPasswordSuccessBlockSelector: '#giant-onestepcheckout-forgot-password-success',
        errorMessageBoxCssClass: 'giant-onestepcheckout-error-msg ',
        autoShowUp : '<?php echo $autoShowUp = (isset($_GET['login']) && !$customerSession->isLoggedIn()) ? true : false ?>',
        overlayConfig: {
            '48px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-48',
            '24px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-24',
            '16px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-16'
        },
        popup: {
            overlaySelector: "#giant-onestepcheckout-authentification-overlay",
            containerSelector: "#giant-onestepcheckout-authentification-popup",
            contentContainerSelector: "#giant-onestepcheckout-authentification-popup-content",
            acceptContainerSelector: "#giant-onestepcheckout-authentification-popup-accept",
            buttons: {
                close:{
                    selector: "#giant-onestepcheckout-authentification-popup-close a",
                    enabled: true
                }
            }
        },
        jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>
    });
</script>
