<!--@subject Registration zum Webshop www.henryschein.ch @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Cher Monsieur, Chère Madame,</p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Nous avons le plaisir de vous confirmer la réception de votre enregistrement pour notre Webshop.</p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Henry Schein Animal Health / Provet SA fournit uniquement les vétérinaires, professionnels et les revendeurs. Vos informations vont désormais être examinées par nos services. Vous recevrez sous 24 heures (lundi – vendredi) un retour concernant votre enregistrement, ainsi que des informations relatives au processus de connexion au Webshop.</p>
                                <p style="font-size:12px; line-height:16px; margin:0;">Nous restons à votre disposition pour toute question. Vous pouvez vous adresser à <a href="mailto:shop@covetrus.ch" style="color:#1E7EC8;">shop@covetrus.ch</a>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Cordiales salutations<br /><strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>