<?php
/**
 * Created by PhpStorm.
 * User:    Steven Hilgendorff
 * Email:   shilgendorff@snowflake.ch
 * Company: Snowflake GmbH
 * Date:    24.04.2017
 * Time:    08:05
 */

$customerSession = Mage::getSingleton('customer/session');
?>
<div class="newsletter-form">
    <form action="<?php echo $this->getUrl('snowflake-formhandler/') ?>index/sendreturnmail" id="returnform" method="post" class="scaffold-form">
        <div class="fieldset">
            <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
            <ul class="form-list">
                <li class="form-area">
                    <div class="field">
                        <label for="return_type" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Return Type') ?></label>
                        <div class="input-box">
                            <select name="return_type" id="return_type" class="input-text required-entry">
                                <option value=""><?php echo Mage::helper('contacts')->__('Choose Please') ?></option>
                                <option value="<?php echo Mage::helper('contacts')->__('Register reparing') ?>"><?php echo Mage::helper('contacts')->__('Register reparing') ?></option>
                                <option value="<?php echo Mage::helper('contacts')->__('Register return') ?>"><?php echo Mage::helper('contacts')->__('Register return') ?></option>
                                <option value="<?php echo Mage::helper('contacts')->__('Ask Service') ?>"><?php echo Mage::helper('contacts')->__('Ask Service') ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Name') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Return Name') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="client_number" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Client Number') ?></label>
                        <div class="input-box">
                            <input name="client_number" id="address" title="<?php echo Mage::helper('contacts')->__('Return Client Number') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="phone" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Phone') ?></label>
                        <div class="input-box">
                            <input name="phone" id="phone" title="<?php echo Mage::helper('contacts')->__('Return Phone') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Return Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="comments" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Return Comments') ?></label>
                        <div class="input-box">
                            <textarea name="comments" id="comments" class="input-text required-entry"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <ul>
                            <?php echo $this->getChildHtml("form.additional.info"); ?>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var returnform = new VarienForm('returnform', true);
    //]]>
</script>