/*===================================================================
|                            CONFIGUARATION STYLE                    |
====================================================================*/
/*General*/
#giant-onestepcheckout-container .button{
background: #7399B4}
    #giant-onestepcheckout-container .onestep-title h2{
    color: #666666 !important;
    }
/*Authentication*/

#giant-onestepcheckout-container .onestep-title .number {
background-color: #7399B4;
}

#giant-onestepcheckout-container .button-action{
background-color: #7399B4}

/*Order Review*/

.giant-onestepcheckout-cart-table thead th {
background-color: #7399B4;
}
/*===================================================================
|                           END CONFIGUARATION STYLE                 |
====================================================================*/


/*===================================================================
|                           Custom STYLE                             |
====================================================================*/
/*===================================================================
|                           End Custom STYLE                         |
====================================================================*/