<?php
    $translates = $this->getTranslates();
    $urls       = $this->getUrls();
?>
<div class="entry-edit">
    <?php echo $this->getFormHtml(); ?>
</div>
<div id="multiplewishlist_html_templates" style="display: none;">
    <div class="rename-template">
        <input type="text" />
        <button class="button" type="button">
            <span><span><?php echo $this->__('Rename') ?></span></span>
        </button>
    </div>
</div>
<script type="text/javascript">
    if (!$('add-new-wishlist')) {
        var multipleWishlist = new Snowflake.WishlistCollection('snowflake_wishlist', <?php echo $urls; ?>, <?php echo Mage::registry('current_customer')->getId() ?>,  <?php echo Mage::helper('core')->jsonEncode($this->getProducts()) ?>, <?php echo $translates; ?>, '<?php echo Mage::helper('adminhtml')->getUrl('snowflake_multiplewishlist/admin_wishlist/import') ?>', '<?php echo Mage::getSingleton('core/session')->getFormKey() ?>');
    } else {
        var removedBlock = $$('#wishlistGrid .entry-edit');
        removedBlock[0].remove();
    }
</script>