<div class="gift-messages">
    <input type="checkbox" name="use_gift_messages" id="use_gift_messages"
           value="1" <?php if ($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?>
           class="checkbox"/>
    <label for="use_gift_messages"><?php echo $this->__('Add a gift message') ?></label>
</div>
<div class="gift-messages-form" id="use-gift-message-container" style="display: none;height: 0;overflow: hidden;">
    <div class="inner-box">
        <?php if (Mage::helper('onestepcheckout/giftmessage')->isMessagesAvailable('quote', $this->getEntity())): ?>
            <div class="whole-order">
                <input id="giftmessage-type" type="hidden"
                       name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]" value="quote"/>
                <ul class="onestepcheckout-form-list">
                    <li class="fields">
                        <div class="field">
                            <label for="gift-message-whole-from"><?php echo $this->__('From') ?></label>

                            <div class="input-box">
                                <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]"
                                       id="gift-message-whole-from"
                                       title="<?php echo $this->__('From') ?>"
                                       value="<?php echo $this->getMessage()->getSender() ? $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) : '' ?>"
                                       class="input-text validation-passed"
                                       placeholder="<?php echo $this->__('Sender') ?>"
                                    />
                            </div>
                        </div>
                        <div class="field f-right">
                            <label for="gift-message-whole-to"><?php echo $this->__('To') ?></label>

                            <div class="input-box">
                                <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]"
                                       id="gift-message-whole-to" title="<?php echo $this->__('To') ?>"
                                       value="<?php echo $this->getMessage()->getRecipient() ? $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) : '' ?>"
                                       class="input-text validation-passed"
                                       placeholder="<?php echo $this->__('Receiver') ?>"
                                    />
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="gift-message-whole-message"><?php echo $this->__('Message') ?></label>

                        <div class="input-box">
                            <textarea id="gift-message-whole-message"
                                      class="input-text validation-passed giftmessage-area"
                                      name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]"
                                      title="<?php echo $this->__('Message') ?>" rows="5"
                                      cols="10"
                                      placeholder="<?php echo $this->__('Write message') ?>"><?php echo $this->getMessage()->getMessage() ? $this->getEscaped($this->getMessage()->getMessage()) : '' ?></textarea>
                        </div>
                    </li>
                </ul>
                <script type="text/javascript">
                    //<![CDATA[
                    //toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to']);
                    //]]>
                </script>
            </div>
        <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var giantOSCReviewCartGiftmessage = new MagegiantOnestepcheckoutReviewGiftmessage({
        containerSelector: "use-gift-message-container",
        useGiftmessageCheckbox: "use_gift_messages",
        sender: "gift-message-whole-from",
        receiver: "gift-message-whole-to",
        message: "gift-message-whole-message",

    });
    //]]>
</script>
