<?php
/**
 * Created by PhpStorm.
 * User:    Steven Hilgendorff
 * Email:   shilgendorff@snowflake.ch
 * Company: Snowflake GmbH
 * Date:    24.04.2017
 * Time:    08:05
 */

$customerSession = Mage::getSingleton('customer/session');
?>
<div class="newsletter-form">
    <form action="<?php echo $this->getUrl('snowflake-formhandler/') ?>index/sendordermail" id="orderform" method="post" class="scaffold-form">
        <div class="fieldset">
            <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
            <ul class="form-list">
                <li class="form-area">
                    <div class="field">
                        <label for="client_number" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Client Number') ?></label>
                        <div class="input-box">
                            <input name="client_number" id="client_number" title="<?php echo Mage::helper('contacts')->__('Client Number') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="reference"><?php echo Mage::helper('contacts')->__('Reference') ?></label>
                        <div class="input-box">
                            <input name="reference" id="reference" title="<?php echo Mage::helper('contacts')->__('Reference') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="company_name"><?php echo Mage::helper('contacts')->__('Company Name') ?></label>
                        <div class="input-box">
                            <input name="company_name" id="company_name" title="<?php echo Mage::helper('contacts')->__('Company Name') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="address"><?php echo Mage::helper('contacts')->__('Address') ?></label>
                        <div class="input-box">
                            <input name="address" id="address" title="<?php echo Mage::helper('contacts')->__('Address') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="postal_number"><?php echo Mage::helper('contacts')->__('Postal Number') ?></label>
                        <div class="input-box">
                            <input name="postal_number" id="postal_number" title="<?php echo Mage::helper('contacts')->__('Postal Number') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="place"><?php echo Mage::helper('contacts')->__('Place') ?></label>
                        <div class="input-box">
                            <input name="place" id="place" title="<?php echo Mage::helper('contacts')->__('Place') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="phone"><?php echo Mage::helper('contacts')->__('Phone') ?></label>
                        <div class="input-box">
                            <input name="phone" id="phone" title="<?php echo Mage::helper('contacts')->__('Phone') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="date"><?php echo Mage::helper('contacts')->__('Date') ?></label>
                        <div class="input-box">
                            <input name="date" id="company_name" title="<?php echo Mage::helper('contacts')->__('Date') ?>" value="<?php echo Mage::getModel('core/date')->date("d.m.Y - H:i"); ?>" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <table>
                            <thead>
                                <tr>
                                    <th width="20%"><label><?php echo Mage::helper('contacts')->__('SKU') ?></label></th>
                                    <th width="60%"><label><?php echo Mage::helper('contacts')->__('Description') ?></label></th>
                                    <th width="20%"><label><?php echo Mage::helper('contacts')->__('Qty') ?></label></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php for($i = 0; $i <= 20; $i++) { ?>
                                    <tr>
                                        <td><input style="width: 100%" name="order[<?php echo $i; ?>][sku]" id="order_<?php echo $i; ?>_sku" value="" class="input-text" type="text" /></td>
                                        <td><input style="width: 100%" name="order[<?php echo $i; ?>][description]" id="order_<?php echo $i; ?>_description" value="" class="input-text" type="text" /></td>
                                        <td><input style="width: 75%" name="order[<?php echo $i; ?>][qty]" id="order_<?php echo $i; ?>_qty" value="" class="input-text" type="text" /></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="field">
                        <label for="comments"><?php echo Mage::helper('contacts')->__('Comments') ?></label>
                        <div class="input-box">
                            <textarea name="comments" id="comments" class="input-text"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <ul>
                            <?php echo $this->getChildHtml("form.additional.info"); ?>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var orderform = new VarienForm('orderform', true);
    //]]>
</script>