.product .data select,
.customer .data select {
    width: 99%;
}

.product .data select.finalprice,
.customer .data select.finalprice {
    width: 60px;
}

.product .data input.productname,
.customer .data input.customername {
    width:235px;
}

.product .data input.qty,
.customer .data input.qty {
    width: 20px !important;
}

.product .data input.discount,
.customer .data input.discount {
    width: 30px;
}