/*attributes*/
#narrow-by-list dd li { position: relative; }
#narrow-by-list a.filter_layered_attribute:before { position: absolute; content: " "; width: 19px; height: 19px; left: 5px; background:transparent url(../../../images/radio.png) no-repeat scroll -68px -145px; }
#narrow-by-list a.filter_layered_attribute:hover:before  { background-position: -118px -145px; }
#narrow-by-list a.filter_layered_attribute_selected:before { background-position: -18px -145px; }
#narrow-by-list a.filter_layered_attribute_selected:hover:before  { background-position: -168px -145px; }
#narrow-by-list a.filter_layered_attribute { padding-left: 30px; }
#narrow-by-list a.filter_layered_attribute_selected { padding-left: 30px; }

#filter_layered_container .loading_filters {
    position: fixed;
    padding: 30px 20px 30px 90px;
    margin-top: -43px;
    margin-left: -120px;
    top:50%;
    left: 50%;
    width: 240px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    border: 2px solid #e4e4e4;
    background: url(../../../images/ajax-loader.gif) 20px center no-repeat #ffffff;
    -moz-opacity: 0.80;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 20100;
}