
	.row-mg{
		min-height:1px;
		margin:0 -17px;
	}

	.col-mg{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;
		float:left;
		padding:0 17px;
	}

    .form-list .row-mg {
        margin:0 -10px;
    }

    .form-list .col-mg {
        padding:0 10px;
    }

    @media (min-width: 1200px) {
        .mg-lg-1 {
            width:8.33333333333%;
        }
        .mg-lg-2 {
            width:16.6666666667%;
        }
        .mg-lg-3 {
            width:25.0%;
        }
        .mg-lg-4 {
            width:33.3333333333%;
        }
        .mg-lg-5 {
            width:41.6666666667%;
        }
        .mg-lg-6 {
            width:50.0%;
        }
        .mg-lg-7 {
            width:58.3333333333%;
        }
        .mg-lg-8 {
            width:66.6666666667%;
        }
        .mg-lg-9 {
            width:75.0%;
        }
        .mg-lg-10 {
            width:83.3333333333%;
        }
        .mg-lg-11 {
            width:91.6666666667%;
        }
        .mg-lg-12 {
            margin-left:0;
            width:100%;
        }
    }

	@media (min-width: 992px) and (max-width: 1199px) {
		.mg-md-1 {
            width:8.33333333333%;
        }
        .mg-md-2 {
            width:16.6666666667%;
        }
        .mg-md-3 {
            width:25.0%;
        }
        .mg-md-4 {
            width:33.3333333333%;
        }
        .mg-md-5 {
            width:41.6666666667%;
        }
        .mg-md-6 {
            width:50.0%;
        }
        .mg-md-7 {
            width:58.3333333333%;
        }
        .mg-md-8 {
            width:66.6666666667%;
        }
        .mg-md-9 {
            width:75.0%;
        }
        .mg-md-10 {
            width:83.3333333333%;
        }
        .mg-md-11 {
            width:91.6666666667%;
        }
        .mg-md-12 {
            margin-left:0;
            width:100%;
        }
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.mg-sm-1 {
            width:8.33333333333%;
        }
        .mg-sm-2 {
            width:16.6666666667%;
        }
        .mg-sm-3 {
            width:25.0%;
        }
        .mg-sm-4 {
            width:33.3333333333%;
        }
        .mg-sm-5 {
            width:41.6666666667%;
        }
        .mg-sm-6 {
            width:50.0%;
        }
        .mg-sm-7 {
            width:58.3333333333%;
        }
        .mg-sm-8 {
            width:66.6666666667%;
        }
        .mg-sm-9 {
            width:75.0%;
        }
        .mg-sm-10 {
            width:83.3333333333%;
        }
        .mg-sm-11 {
            width:91.6666666667%;
        }
        .mg-sm-12 {
            margin-left:0;
            width:100%;
        }
	}

	@media (min-width: 481px) and (max-width: 767px) {
		.mg-xs-1 {
            width:8.33333333333%;
        }
        .mg-xs-2 {
            width:16.6666666667%;
        }
        .mg-xs-3 {
            width:25.0%;
        }
        .mg-xs-4 {
            width:33.3333333333%;
        }
        .mg-xs-5 {
            width:41.6666666667%;
        }
        .mg-xs-6 {
            width:50.0%;
        }
        .mg-xs-7 {
            width:58.3333333333%;
        }
        .mg-xs-8 {
            width:66.6666666667%;
        }
        .mg-xs-9 {
            width:75.0%;
        }
        .mg-xs-10 {
            width:83.3333333333%;
        }
        .mg-xs-11 {
            width:91.6666666667%;
        }
        .mg-xs-12 {
            margin-left:0;
            width:100%;
        }
	}

	@media (max-width: 480px) {
		.col-mg{
			width:100%;
		}
	}


