/* ============================================ *
 * Poll
 * ============================================ */
.block-poll {
  background-color: $c-lightblue;
  margin-bottom: $box-spacing-large;

  .block-title {
    margin: 0;
    padding: 11px 14px;
    background-color: $c-text-lightblue;
    text-transform: uppercase;

    strong {
      font-size: $f-size-xl;
      font-weight: $f-weight-light;
      color: $c-text-white;
    }
  }

  .block-content {
    margin: 0;
    padding: 15px 13px 20px;

    .block-subtitle {
      font-weight: $f-weight-semibold;
    }

    .button {
      width: 100%;
      background-color: $c-text-blue;
      color: $c-text-white;

      &:hover,
      &:active,
      &:focus {
        background-color: $c-text-blue;
        color: $c-text-white;
      }
    }
  }
}

/* ============================================ *
 * Poll answer
 * ============================================ */
#poll-answers {
  li {
    line-height: 36px;

    label {
      color: #6c6c6c;
      font-size: $f-size;
      font-weight: $f-weight-semibold;
    }
  }

  .poll_vote {
    margin-right: 5px;
    top: 1px;
  }
}

/* ============================================ *
 * Contact
 * ============================================ */
.zblock-quickaccess {
  background-color: $c-lightblue;
  margin-bottom: $box-spacing-large;

  .block-title {
    margin: 0;
    padding: 11px 14px;
    text-transform: uppercase;

    strong {
      font-size: $f-size;
      font-weight: $f-weight-semibold;
    }
  }

  .block-content {
    margin: 0;
    padding: 15px 13px;

    .block-name {
      margin-bottom: 3px;
      font-size: $f-size;
      font-weight: $f-weight-semibold;
    }

    .block-contact {
      margin-bottom: 3px;
      font-size: $f-size-s;
      font-weight: $f-weight-semibold;
      line-height: 19px;
    }

    .block-email,
    .block-email:hover {
      color: $c-text-blue;
      font-size: $f-size-s;
      font-weight: $f-weight-semibold;
    }
  }
}