<div class="block-title">
    <strong>
        <span><?php echo $this->__('Contact'); ?></span>
    </strong>
</div>
<div class="block-image"><img src="<?php echo $contact['image']; ?>" title="<?php echo $contact['name']; ?>" alt="<?php echo $contact['name']; ?>" /></div>
<div class="block-content">
    <div class="block-name"><?php echo $contact['name']; ?></div>
    <div class="block-contact">
        <?php echo $contact['street'].' | '.$contact['zip'].' '.$contact['city']; ?>
        <?php if ($contact['phone'] != '') : ?>
            <br/><?php echo $this->__('Tel.').' '.$contact['phone']; ?>
        <?php endif; ?>
        <?php if ($contact['fax'] != '') : ?>
            <br/><?php echo $this->__('Fax').' '.$contact['fax']; ?>
        <?php endif; ?>
    </div>
    <a class="block-email" href="mailto:<?php echo $contact['email']; ?>"><?php echo $contact['email']; ?></a>
</div>