<?php $_categories = $this->getQuickAccessCategories() ?>
<nav id="subnav-quickaccess" class="subnav-quickaccess">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('snowflake_quickaccess')->__('Quickaccess') ?></span></strong>
    </div>

    <ul>
        <?php $_index = 1; ?>
        <?php $_count = count($_categories); ?>
        <?php foreach ($_categories as $_category): ?>
            <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
            <?php $_last = ($_index++ >= $_count); ?>
            <?php $open = $this->isCategoryActive($_category); ?>
            <li class="<?php if($open): ?>active<?php endif; ?><?php echo ($_last ? ' last' : '') ?>">
                <a href="<?php echo $this->getCategoryUrl($_category) ?>">
                    <?php echo $_category->getName() ?><span class="icon"></span>
                </a>
            </li>
        <?php endforeach ?>
    </ul>
</nav>