<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<div class="seminar-form">
    <?php echo "Formular 2" ?>
</div>
<script type="text/javascript">
    var giantOSCLoginBlock = new MagegiantOnestepcheckoutLogin({
        loginLink:'.giant-login-link',
        containerSelector: '#giant-onestepcheckout-authentification-popup',
        contentLogin: '#giant-onestepcheckout-authentification-popup-content-login',
        contentForgotPassword: '#giant-onestepcheckout-authentification-popup-content-forgot-password',
        forgotPasswordLinkSelector: '#giant-onestepcheckout-login-forgot-link',
        backToLoginLinkSelector: '.giant-onestepcheckout-forgot-password-back',
        loginFormSelector: '#giant-onestepcheckout-login-form',
        forgotPasswordFormSelector: '#giant-onestepcheckout-forgot-password-form',
        forgotPasswordSuccessBlockSelector: '#giant-onestepcheckout-forgot-password-success',
        errorMessageBoxCssClass: 'giant-onestepcheckout-error-msg ',
        autoShowUp : '<?php echo $autoShowUp = (isset($_GET['login']) && !$customerSession->isLoggedIn()) ? true : false ?>',
        overlayConfig: {
            '48px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-48',
            '24px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-24',
            '16px': 'giant-onestepcheckout-overlay giant-onestepcheckout-overlay-16'
        },
        popup: {
            overlaySelector: "#giant-onestepcheckout-authentification-overlay",
            containerSelector: "#giant-onestepcheckout-authentification-popup",
            contentContainerSelector: "#giant-onestepcheckout-authentification-popup-content",
            acceptContainerSelector: "#giant-onestepcheckout-authentification-popup-accept",
            buttons: {
                close:{
                    selector: "#giant-onestepcheckout-authentification-popup-close a",
                    enabled: true
                }
            }
        },
        jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>
    });
</script>