<!--@subject Registration zum Webshop www.henryschein.ch @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Sehr geehrte Interessentin<br />Sehr geehrter Interessent</p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Gerne bestätigen wir Ihnen den Erhalt Ihrer Registration für unseren Webshop. </p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Henry Schein Animal Health / Provet AG beliefert ausschliesslich Fachkreise. Aus diesem Grund werden Ihre Daten nun noch durch uns geprüft. Sie erhalten innerhalb von 24 Stunden (Montag – Freitag) eine Rückmeldung zu Ihrer Registration sowie Informationen zum Anmeldeprozess im Webshop.</p>
                                <p style="font-size:12px; line-height:16px; margin:0;">Bei Fragen stehen wir Ihnen gerne unter <a href="mailto:shop@covetrus.ch" style="color:#1E7EC8;">shop@covetrus.ch</a> zur Verfügung.</p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Freundliche Grüsse<br /><strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>