<?php
/**
 * integer_net Magento Module
 *
 * @category   IntegerNet
 * @package    IntegerNet_Solr
 * @copyright  Copyright (c) 2014 integer_net GmbH (http://www.integer-net.de/)
 * @author     Andreas von Studnitz <avs@integer-net.de>
 */
?>

<?php
/**
 * Autosuggest box template
 *
 * @see IntegerNet_Solr_Block_Autosuggest
 * @var $this IntegerNet_Solr_Block_Autosuggest
 */
?>

<?php if ($searchwordSuggestions = $this->getSearchwordSuggestions()): ?>

    <ul class="searchwords">

    <?php foreach ($searchwordSuggestions as $index => $item): ?>
        <li>
            <a href="<?php echo $item['url'] ?>"><?php echo $this->highlight($item['title'], $this->getQuery()) ?></a>&hellip;
        </li>
    <?php endforeach ?>

    </ul>
    
<?php endif ?>

<?php $productSuggestions = $this->getProductSuggestions() ?>
<?php if (sizeof($productSuggestions)): ?>

    <div class="products-box">

        <h3>
            <strong><?php echo $this->__('Product Suggestions') ?></strong>
            <?php echo $this->__('for your Search') ?>
        </h3>

        <ul class="products">

        <?php foreach ($productSuggestions as $index => $item): ?>
            <li>
                <?php echo $this->highlight($item->result_html_autosuggest_nonindex, $this->getQuery()) ?>
            </li>
        <?php endforeach ?>

            <li class="last"></li>
        </ul>
    </div>
    
<?php endif ?>


<?php $categorySuggestions = $this->getCategorySuggestions() ?>
<?php $attributeSuggestions = $this->getAttributeSuggestions() ?>

<?php if (sizeof($categorySuggestions) || sizeof($attributeSuggestions)): ?>

    <div class="additional-box">
        <?php if (sizeof($categorySuggestions)): ?>

            <div class="categories-box">

                <h3>
                    <strong><?php echo $this->__('Categories') ?></strong>
                    <?php echo $this->__('for your Search') ?>
                </h3>

                <ul class="categories">

                <?php foreach ($categorySuggestions as $index => $item): ?>
                    <li>
                        <a href="<?php echo $item['url'] ?>"><?php echo $this->highlight($item['title'], $this->getQuery()) ?></a>
                    </li>
                <?php endforeach ?>
                </ul>

            </div>
        <?php endif ?>

        <?php foreach($attributeSuggestions as $attributeCode => $attributeSuggestionsByAttribute): ?>

            <div class="attributes-box">

                <h3>
                    <strong><?php echo $this->getAttribute($attributeCode)->getStoreLabel() ?></strong>
                </h3>

                <ul class="attributes">

                    <li>
                        <?php $items = array() ?>
                        <?php foreach ($attributeSuggestionsByAttribute as $index => $item): ?>
                            <?php $items[] = '<a href="' . $item['url'] . '">' . $this->highlight($item['title'], $this->getQuery()) . '</a>' ?>
                        <?php endforeach ?>
                        <?php echo implode(', ', $items) ?>
                    </li>
                </ul>
            </div>
        <?php endforeach ?>

        <div class="last"></div>
    </div>

<?php endif ?>


