.products-promotion-slider {
    img {
        width: 100%;
    }
}

.products-discount-grid {
    .product-info {
        padding: 11px 29px;

        .price-box {
            position: absolute;
            text-align: right;
            top: 9px;
            right: 13px;

            .old-price,
            .special-price {
                margin: 0 0 1px 0;
            }
        }
    }

    .product-details {
        padding-left: 25px;
        font-size: $f-size-xl;
        font-weight: $f-weight-light;
        background-position: 0 -708px;
    }

    .product-short-description {
        margin-bottom: 7px;
        font-size: $f-size-xl;
        line-height: 21px;
    }

    .product-discount-label {
        position: absolute;
        display: inline-block;
        padding-right: 14px;
        width: 143px;
        height: 70px;
        line-height: 90px;
        bottom: 0;
        right: 0;
        color: $c-text-white;
        font-size: 21px;
        font-weight: $f-weight-light;
        text-align: right;
        background: transparent url('../images/triangle.png') 0 0 no-repeat;
    }
}