<div id="tabsandcontent">
    <?php
        $model = Mage::getModel('snowflake_multiplewishlist/wishlist');
        $wishlistNames = $model->getWishlistNames();

        $id = $this->getRequest()->getParam('tabId');
        if (!$id) {
            $customerId = Mage::getSingleton('customer/session')->getCustomer()->getId();
            $id = $model->checkMainWishlist($customerId);
        }

        $data  = $model->getWishlistById($id);
        $wishlistId = $data['multiwishlist_id'];
    ?>
    <script type="text/javascript">
        var wishlistTabsSettings = eval('[{"id":"1","enabled":"1","behavior":"click","theme":"descending_white"}]')[0];
    </script>
    <div class="multiplewishlist-tabs">
        <div class="titles with-scroll">
            <div class="scroll _left">
                <div>&nbsp;</div>
            </div>
            <div class="scroll _right">
                <div>&nbsp;</div>
            </div>
            <div class="titles-holder">
                <!--
                <?php foreach ($wishlistNames as $row): ?>
                    --><span id="tab_title_<?php  echo $row['multiwishlist_id']?>" class="title <?php echo $wishlistId == $row['multiwishlist_id'] ? 'current' : '';?>"><!--
                        --><span class="left"><span class="corner l">&nbsp;</span>&nbsp;</span><!--
                        --><span class="center"><?php  echo $row['multiwishlist_name'] ?></span><!--
                        --><span class="right"><span class="corner r">&nbsp;</span>&nbsp;</span><!--
                    --></span><!--
                <?php endforeach ?>
-->         </div>
        </div>
    </div>
    <div id="content">
        <?php
            $tabContent = $this->getLayout()->createBlock('snowflake_multiplewishlist/frontview');
            $tabContent->setNames($wishlistNames);
            echo $tabContent->toHtml();
        ?>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->getUrl('customer/account/') ?>"><small>&laquo; </small><?php echo Mage::helper('snowflake_multiplewishlist')->__('Back') ?></a></p>
    </div>
</div>
<script type="text/javascript">

    $$('.multiplewishlist-tabs .titles .title').each(function(title) {
        title.observe(wishlistTabsSettings.behavior, function(event) {
            var elem = Event.findElement(event, '.title');
            var currentTitle = $$('.multiplewishlist-tabs .titles .title.current')[0];

            if (currentTitle) {
                currentTitle.removeClassName('current');
            }

            elem.addClassName('current');

            new Ajax.Updater('content', '<?php echo Mage::getUrl('wishlist/index/ajax/')?>', { method: 'post',
                parameters: {tabId: elem.id.substring(10)},

                onSuccess: function(transport) {
                    Element.hide('loading-mask');
                    $('content').update(transport.responseText);
                    retruncateOptionsTimeout();
                },

                onLoading: Element.show('loading-mask')
            });
        });
    });
    Event.observe(document, 'dom:loaded', initializeTabsSlider);
    function initializeTabsSlider() {
        if (window.opera && window.opera.version() < 10) {
            document.documentElement.className += ' opera9';
        }

        if (wishlistTabsSlider.checkScrollNeeds()) {
            wishlistTabsSlider.activateScroll();
        } else {
            $$('.multiplewishlist-tabs .titles')[0].removeClassName('with-scroll');
        }

        wishlistUpdateLink();
        retruncateOptionsTimeout();
        wishlistTabsSlider.initialized = true;
    }
    function wishlistUpdateLink() {
         var wishlistLink = $$('.header a[href|=<?php echo Mage::getUrl('wishlist') ?>]');

         if (wishlistLink.length) {
            new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/itemCount') ?>', {
                onComplete: function(transport) {
                    var obj = transport.responseText.evalJSON();
         if (obj.link_text) {
         wishlistLink[0].update(obj.link_text);
         }
         }
         });
         }
    }
    Event.observe(window, 'load', function(event) {
         if (!wishlistTabsSlider.initialized) {
            initializeTabsSlider();
         }
         if (!wishlistTabsSlider.checkScrollNeeds()) {
             $$('.multiplewishlist-tabs .titles')[0].removeClassName('with-scroll');
         }
    });
    function showWidth() {
         var holder = $$('.multiplewishlist-tabs .titles-holder')[0];
         var scrollWidth = holder.scrollWidth;
         var offsetWidth = holder.offsetWidth;

         document.title = scrollWidth + ' ' + offsetWidth;
         window.setTimeout('showWidth()', 10);
    }
    function wishlistTabsSlider() {
         this.initialized = false;
         this.scrollSpeed = 1;
         this.defaultScrollSpeed = 3;
         this.scrollAcceleration = 1.1;
         this.scrollDelay = 15;
         this.scrollDirection = 0;
         this.isScrollActivated = false;
    }
    wishlistTabsSlider.prototype.checkScrollNeeds = function() {
        var holder = $$('.multiplewishlist-tabs .titles-holder')[0];
        if (!holder) {
            return false;
        }

        var scrollWidth = holder.scrollWidth;
        var offsetWidth = holder.offsetWidth;
        return scrollWidth > offsetWidth;
    };
    wishlistTabsSlider.prototype.activateScroll = function() {
        $$('.multiplewishlist-tabs .titles')[0].addClassName('with-scroll');
        $$('.multiplewishlist-tabs .titles .scroll._left')[0].observe('mousedown', function(event) {
            wishlistTabsSlider.scrollToLeft();
        });
        $$('.multiplewishlist-tabs .titles .scroll._left')[0].observe('mouseup', function(event) {
            wishlistTabsSlider.scrollStop();
        });
        $$('.multiplewishlist-tabs .titles .scroll._right')[0].observe('mousedown', function(event) {
            wishlistTabsSlider.scrollToRight();
        });
        $$('.multiplewishlist-tabs .titles .scroll._right')[0].observe('mouseup', function(event) {
            wishlistTabsSlider.scrollStop();
        });
        this.isScrollActivated = true;
    };
    wishlistTabsSlider.prototype.scrollToLeft = function() {
        this.scrollDirection = -1;
        this.scrollStart();
    };
    wishlistTabsSlider.prototype.scrollToRight = function() {
        this.scrollDirection = 1;
        this.scrollStart();
    };
    wishlistTabsSlider.prototype.scrollStop = function() {
        this.scrollDirection = 0;
        this.scrollSpeed = this.defaultScrollSpeed;
    };
    wishlistTabsSlider.prototype.scrollStart = function() {
        this.scroll();
    };
    wishlistTabsSlider.prototype.scroll = function() {
        if (this.scrollDirection == 0) return;
        var titlesHolder = $$('.multiplewishlist-tabs .titles-holder')[0];

        titlesHolder.scrollLeft += this.scrollDirection * this.scrollSpeed;
        this.scrollSpeed = this.scrollSpeed * this.scrollAcceleration;

        if (this.scrollDirection == -1 && titlesHolder.scrollLeft <= 0) {
            return;
        }

        if (this.scrollDirection == 1 && titlesHolder.scrollLeft >= titlesHolder.scrollWidth - titlesHolder.offsetWidth) {
            return;
        }

        window.setTimeout(function() {
            this.scroll();
        }.bind(this), this.scrollDelay);
    };
    wishlistTabsSlider = new wishlistTabsSlider();

    function retruncateOptionsTimeout() {
        setTimeout(retruncateOptions, 100);
    }
    function retruncateOptions() {
        $$('.truncated').each(function(element){
            Event.stopObserving(element, 'mouseover');
            Event.observe(element, 'mouseover', function(){
                if (element.down('div.truncated_full_value')) {
                    element.down('div.truncated_full_value').addClassName('show')
                }
            });

            Event.stopObserving(element, 'mouseout');
            Event.observe(element, 'mouseout', function(){
                if (element.down('div.truncated_full_value')) {
                    element.down('div.truncated_full_value').removeClassName('show')
                }
            });
        });
    }
</script>