<?php
    $model = Mage::getModel('snowflake_multiplewishlist/wishlist');
    $wishlistNames = $model->getWishlistNames(null, true);
?>
<div id="overlay"></div>
<div id="dialog" class="window">
    <h4 style="margin-left: 20px; margin-top: 10px;"><?php echo Mage::helper('snowflake_multiplewishlist')->__('Please select a wishlist you wish to add selected product(s) to:')?></h4>

    <div id="radiostack" onkeypress="useSelectedWishlist(event)">
        <?php foreach ($wishlistNames as $row): ?>
            <div class="radio">
                <input class="radiobutton" type="radio" name="radio" onclick="$('newinput').value='';" value="<?php echo $row['multiwishlist_id']?>" <?php if ($row['multiwishlist_is_main']) echo 'checked="checked"' ?> alt="<?php echo Mage::helper('snowflake_multiplewishlist')->__($row['multiwishlist_name']) ?>"> <?php echo Mage::helper('snowflake_multiplewishlist')->__($row['multiwishlist_name']) ?>
            </div>
        <?php endforeach; ?>
        <div class="radio">
            <input class="radiobutton" type="radio" name="radio" value="new" /> <?php echo Mage::helper('snowflake_multiplewishlist')->__('or create a new wishlist:') ?>
            <input id="newinput" class="input" type="text" onclick="checkRadio();" width="50%" name="newinput" />
        </div>
    </div>
    <div id="select">
        <button id="btn-sel" class="selectbutton" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Select') ?>" onclick="selectWishlist();">
            <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Select') ?></span></span>
        </button>
        <button class="selectbutton" type="button" title="<?php echo Mage::helper('snowflake_multiplewishlist')->__('Cancel') ?>" onclick="cancelAddingToWishlist();">
            <span><span><?php echo Mage::helper('snowflake_multiplewishlist')->__('Cancel') ?></span></span>
        </button>
    </div>
</div>

<script type="text/javascript">
    var sel = $$('.radio');
    $('dialog').height = (24 * sel.length) + 120;

    function checkRadio() {
        $$('.radiobutton').each(function(elem) {
            if (elem.value == 'new') {
                elem.checked = true;
            }
        });
    }

    function useSelectedWishlist(e) {
        if (e.keyCode == 13) { // enter
            selectWishlist();
        }
    }

    function selectWishlist() {
        var checkedRadio;
        var flag = true;

        $$('.radiobutton').each(function(elem) {
            if (elem.checked) {
                checkedRadio = elem.value;
            }

            if (elem.alt.toLowerCase() == $('newinput').value.toLowerCase()) {
                flag = false;
            }
        });

        if ((flag == true) || (checkedRadio != 'new')) {
            if (checkedRadio == 'new') {
                if ($('newinput').value == '') {
                    alert("Enter the name of new wishlist");
                } else {
                    $('dialog').hide();
                    $('overlay').hide();

                    new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax/')?>', { method: 'post',
                        parameters: {newWishlistName: $('newinput').value},
                        
                        onSuccess: function(transport) {
                            $('fullcontent').update(transport.responseText);
                            initializeTabsSlider();

                        }
                    });
                }
            } else {
                $('dialog').hide();
                $('overlay').hide();

                new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/ajax/')?>', { method: 'post',
                    parameters: {list: checkedRadio, tabId: checkedRadio},

                    onSuccess: function(transport) {
                        $('fullcontent').update(transport.responseText);
                        initializeTabsSlider();
                    }
                });
            }
        } else {
            if (checkedRadio == 'new') {
                if ($('newinput').value == '') {
                    alert("Enter the name of new wishlist");
                } else {
                    alert('Wishlist with such a name already exists. Please choose a different name.');
                }
            }
        }
    }

    function cancelAddingToWishlist() {
        new Ajax.Request('<?php echo Mage::getUrl('wishlist/index/cancelAdding/')?>', { method: 'post',
            onSuccess: function(transport) {
                var obj = transport.responseText.evalJSON();
                $$('.messages .success-msg').each(function(elm) {elm.hide();});

                if (obj.error) {
                    alert(obj.error);
                } else {
                    $('dialog').hide();
                    $('overlay').hide();

                    initializeTabsSlider();
                }
            }
        });
    }
</script>