<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_histories = $this->getHistories(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Items') ?></h1>
</div>
<div class="content-wrapper">
    <?php if($_histories->getSize()): ?>
        <?php //echo $this->getPagerHtml(); ?>
        <table class="data-table zebra-table customer-history" id="customer-history-table">
            <col width="1" />
            <col />
            <col width="1" />
            <col width="1" />
            <thead>
                <tr>
                    <th class="number"><?php echo $this->__('History #') ?></th>
                    <th class="name"><?php echo $this->__('Product Name') ?></th>
                    <th class="sku"><?php echo $this->__('SKU') ?></th>
                    <th class="view">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php $_odd = ''; ?>
                <?php foreach ($_histories as $_history): ?>
                    <?php $productId = $_history->getProductId(); ?>
                    <tr>
                        <td class="number"><?php echo $_history->getHistoryId() ?></td>
                        <td class="name"><?php echo $this->getProductName($productId) ?></td>
                        <td class="a-right sku"><?php echo $this->getProductSku($productId) ?></td>
                        <td class="a-center view">
                            <span class="nobr"><a href="<?php echo $this->getViewUrl($productId) ?>"><?php echo $this->__('View') ?></a></span>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php echo $this->getPagerHtml() ?>
    <?php else: ?>
        <p><?php echo $this->__('You have no order histories.'); ?></p>
    <?php endif ?>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
</div>
<script type="text/javascript">decorateTable('customer-history-table');</script>