<?php
    $_products = $this->getAllProducts();
?>
<style type="text/css">
    .autocomplete-w1 { position:absolute; top:4px; left:3px; /* IE6 fix: */ _top:1px; }
    .autocomplete-w2 { padding:0 6px 6px 0; }
    .autocomplete { width:500px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
    .autocomplete .selected { background:#F0F0F0; }
    .autocomplete div { padding:2px 5px; white-space:nowrap; }
    .autocomplete strong { font-weight:normal; color:#3399FF; }
</style>

<script type="text/javascript">
    //<![CDATA[
    function handleAutocomplete(disable) {
        initAutocomplete('product', 'product_id');
        initAutocomplete('discount_product', 'discount_product_id');
    }

    function initAutocomplete(product, productId) {
        new Autocomplete('rule_' + product, eval(<?php echo $_products; ?>), { width: 500, onSelect: function(autoval, autodata) { $('rule_' + productId).value = autodata; } });
    }

    document.observe("dom:loaded", handleAutocomplete);
    //]]>
</script>