<?php $_categories = $this->getStoreCategories() ?>
<?php foreach ($_categories as $_category): ?>
    <?php if ($this->isCategoryActive($_category)): ?>
        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
        <?php $_subcategories = $_category->getChildrenCategories() ?>
        <?php if (count($_subcategories) > 0): ?>
            <nav id="subnav" class="subnav">
                <div class="block-title">
                    <strong><span><?php echo $_category->getName(); ?></span></strong>
                </div>
                <ul>
                    <?php foreach($_subcategories as $_subcategory): ?>
                        <?php $open = $this->isCategoryActive($_subcategory); ?>
                        <li class="<?php if($open): ?>active<?php endif; ?>">
                            <a href="<?php echo $this->getCategoryUrl($_subcategory) ?>">
                                <?php echo $_subcategory->getName() ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>

                <script type="text/javascript">
                    decorateGeneric($$('#subnav li'), ['first', 'last']);
                    decorateGeneric($$('#subnav li'), ['first', 'last']);
                </script>
            </nav>
        <?php endif; ?>
    <?php endif; ?>
<?php endforeach ?>